$key-color1: #33a6b8; // http://nipponcolors.com/#asagi
$key-color1-foreground: #fffffb; // http://nipponcolors.com/#gofun
$key-color2: #0d5661; // http://nipponcolors.com/#ai

$header-height: 48px;
$header-color-background: $key-color1 * 0.5;
$header-color-foreground: $key-color1-foreground;

@mixin key-colors {
  background-color: $key-color1;
  color: $key-color1-foreground;
  a, a:link, a:visited, a:hover, a:active {
    color: $key-color2;
    text-decoration: none;
  }
}

@mixin gradient-dawn($color, $up-color, $bottom-color) {
  background: $color;
  background: -webkit-linear-gradient(180deg, $up-color 0%, $color 50%, $bottom-color 100%);
  background:    -moz-linear-gradient(180deg, $up-color 0%, $color 50%, $bottom-color 100%);
  background:     -ms-linear-gradient(180deg, $up-color 0%, $color 50%, $bottom-color 100%);
  background:      -o-linear-gradient(180deg, $up-color 0%, $color 50%, $bottom-color 100%);
  background:         linear-gradient(180deg, $up-color 0%, $color 50%, $bottom-color 100%);

  background-attachment: fixed;
}

html {
  @include key-colors;
  @include gradient-dawn($key-color1, $key-color1*0.90, $key-color1*1.25);

  width: 100%;
  height: 100%;
  font-size: 15pt;
  font-family: 'Roboto', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
}

[lang='ja'] {
}

header.top {

  position: fixed;
  left: 0;
  top: 0; 
  right: 0;
  height: $header-height;
  box-sizing: border-box;

  background-color: $header-color-background;
  color: $header-color-foreground;
  a, a:link, a:visited {
    color: $header-color-foreground;
    text-decoration: none;
  }


  //border-bottom: 1px solid $key-color1 * 0.5;

  nav {
    height: 100%;
    > ul {
      height: 100%;
      margin: 0;
      padding: 0;
      > li {
        height: 100%;
        min-width: 5em;
        list-style-type: none;
        display: inline-block;
        > a {
          height: 100%;
          width: 100%;
          display: inline-block;
          text-align: center;
          line-height: $header-height;
          &:hover, &:active {
            background-color: $header-color-background * 2.0;
            color: $header-color-foreground * 0.1;
          }
        }
      }
    }
  }

  & + * {
    margin-top: $header-height * 1.25;
  }
}

.twopane {
  display: flex;
  flex-direction: space-around;
  align-item: strech;

  > div,
  > .pane {
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex: 1 1 0;
  }
}

table.schedule {
  border-collapse: collapse;
  th, td {
    line-height: 1;
    border: 1px solid $key-color1-foreground;
    padding: 0.5em 1em;
  }
}
