$key-color1: #33a6b8; // http://nipponcolors.com/#asagi
$key-color1-foreground: #fffffb; // http://nipponcolors.com/#gofun
$key-color2: #0d5661; // http://nipponcolors.com/#ai

@mixin key-colors {
  background-color: $key-color1;
  color: $key-color1-foreground;
  a, a:link, a:visited, a:hover, a:active {
    color: $key-color2;
    text-decoration: none;
  }
}

@mixin gradient-dawn($color, $up-color, $bottom-color) {
  background: $color;
  background: -webkit-linear-gradient(180deg, $up-color 0%, $color 50%, $bottom-color 100%);
  background:    -moz-linear-gradient(180deg, $up-color 0%, $color 50%, $bottom-color 100%);
  background:     -ms-linear-gradient(180deg, $up-color 0%, $color 50%, $bottom-color 100%);
  background:      -o-linear-gradient(180deg, $up-color 0%, $color 50%, $bottom-color 100%);
  background:         linear-gradient(180deg, $up-color 0%, $color 50%, $bottom-color 100%);

  background-attachment: fixed;
}

html {
  @include key-colors;
  @include gradient-dawn($key-color1, $key-color1*0.90, $key-color1*1.25);

  width: 100%;
  height: 100%;
  font-size: 15pt;
  font-family: 'Roboto', sans-serif;
}

[lang='ja'] {
  font-family: 'Roboto', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
}

.twopane {
  display: flex;
  flex-direction: space-around;
  align-item: strech;

  > div {
    margin-left: 0.5em;
    margin-right: 0.5em;
    flex: 1 1 0;
  }
}
