---
layout: 2023/default
title: VimConf 2023 Tiny - An international Vim Conference
---

<nav class="navbar fixed-top navbar-expand-sm navbar-short bg-dark" role="navigation">
  <a class="nav-link link text-info display-8" href="https://vimconf.org/2023/" aria-expanded="false"><img src="https://vimconf.org/2023/images/vimlogo-564x564.png" height="42" width="42" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu2a" aria-controls="navmenu2a" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navmenu2a">
    <div class="navbar-nav">
      <a class="nav-link link text-info" href="#menu-tickets" aria-expanded="false">Tickets</a>
      <a class="nav-link link text-info" href="#menu-keynote-speakers" aria-expanded="false">Keynote speakers</a>
      <a class="nav-link link text-info" href="#menu-what-is-vimconf2023" aria-expanded="false">What's VimConf 2023 Tiny</a>
      <a class="nav-link link text-info" href="#menu-time-table" aria-expanded="false">Time table</a>
      <a class="nav-link link text-info" href="#menu-official-blog" aria-expanded="false">Official Blog</a>
      <a class="nav-link link text-info" href="./sessions/" aria-expanded="false">Sessions</a>
      <a class="nav-link link text-info" href="#menu-staff" aria-expanded="false">Staff</a>
      <a class="nav-link link text-info" href="../coc/" aria-expanded="false">Code of Conduct</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="justify-content-center">
    <div class="jumbotron text">
      <div id="billboard">
        <div class="row">
          <div class="logo col-sm-4 justify-content-center">
            <img src="images/vimlogo-564x564.png" id="vim-logo" alt="Vim logo" class="img-fluid"/>
          </div>
          <div class="info col-sm-8 justify-content-center align-self-center">
            <h1 class="text-left">
              VimConf 2023 Tiny<br />
            </h1>
            <h3 class="text-left">
              <span class="font-italic">2023-11-18 13:00 to 19:30</span>
            </h3>
            <p class="lead text-left">VimConf is an international conference about Vim, the editor.</p>
            <div class="location">
              <a href="https://www.fsi.co.jp/akibaplaza/hall.html">@Akiba Hall</a>,  <a href="https://www.google.com/maps/dir//%E5%AF%8C%E5%A3%AB%E3%82%BD%E3%83%95%E3%83%88%E7%A7%8B%E8%91%89%E5%8E%9F%E3%83%93%E3%83%AB%E3%80%81%E3%80%92101-0022+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E7%A5%9E%E7%94%B0%E7%B7%B4%E5%A1%80%E7%94%BA%EF%BC%93/@35.700305,139.7718863,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x60188ea7985a3cb9:0x79180c34f60f0b55!2m2!1d139.7740739!2d35.7003056!3e3">Akihabara, Tokyo</a>
            </div>
          </div>
        </div>
      </div>

      <hr class="my-4" />

      <section id="menu-what-is-vimconf2023">
        <div class="panel text-center fat-border">
          <div class="text-left">
            <h4>What's VimConf 2023 Tiny</h4>
            <p>VimConf is the world's first and only one conference about Vim regularly held by a community.</p>

            <ul>
              <li>Date: Novembr 18th, 2023 (Sat)</li>
              <li>Time: 13:00 ~ 17:30 (Convivial party 17:30 ~ 19:30)</li>
              <li>Place: Akiba Plaza, Seminar room 1, at Akihabara Tokyo, Japan</li>
              <li>Ticket sales start date: Mid-September 2023</li>
            </ul>

            <h5 id="speakers">Speakers</h5>
            <p>We have other speakers besides the keynote speakers.</p>
            <p>See <a href="https://vimconf.org/2023/sessions/">sessions</a></p>

            <h5 id="misc">Misc</h5>
            <p>All slides are in English. Talks will be given in either English or Japanese.</p>
            <p>(This year we aren't able to provide bidirectional realtime translations)</p>
            <hr>
            <p>We're looking forward to seeing you!</p>
            <strong><a href="https://vimconf.wordpress.com" target="_blank"><img src="https://secure.gravatar.com/avatar/686f2fcfa2e7f34ed429972938f880b5?s=160&d=identicon&r=g" height="42" width="42" />
                VimConf official blog</a></strong>
          </div>
        </div>
      </section>

      <section id="menu-what-is-vimconf2023-ja">
        <div class="panel text-center fat-border">
          <div class="text-left">
            <h4>開催概要 (What's VimConf 2023 Tiny in Japanese)</h4>
            <p>VimConf は、世界初かつ世界で唯一のコミュニティによって定期運営されているVimの国際カンファレンスです。</p>
            <h5 id="スピーカーについて">スピーカーについて</h5>
            <ul class="about">
              <li>スピーカー（<strong>近日公開</strong>）</li>
            </ul>
            <h5 id="その他">その他</h5>
            <p>発表スライドはすべて英語です。発表は英語か日本語かいずれかの言語で行われます。</p>
            <p>(今年は、発表に関しては英語⇒日本語、日本語⇒英語の双方向の翻訳はありません。)</p>
            <hr>
            <p>皆様のご参加をお待ちしております。</p>
            <strong><a href="https://vimconf.wordpress.com" target="_blank"><img src="https://secure.gravatar.com/avatar/686f2fcfa2e7f34ed429972938f880b5?s=160&d=identicon&r=g" height="42" width="42" />
                VimConf official blog</a></strong>
          </div>
        </div>
      </section>

      <hr class="my-4">

      <section id="cfp">
        <div class="panel text-center fat-border">
          <div class="text-left">
            <h4>CFP Closed -- <strike>Looking for VimConf 2023 speakers</strike></h4>

            <strike>
            <p>We&rsquo;re looking for speakers for VimConf 2023 on 2023-11-03!</p>

            <p>VimConf this year&rsquo;s main theme is &ldquo;how to be more productive with Vim?&rdquo; ― We&rsquo;re collecting talks which help Vim users to &ldquo;use Vim more productively,&rdquo; especially those who would like to boost their productivities with Vim or who wonder how other Vimmers use Vim usages.</p>

            <p>This, however, doesn&rsquo;t mean we&rsquo;re not collecting talks about Vim internals or creating Vim plugins. We&rsquo;re looking forward to see one-and-only talks backed by deep experiences.</p>

            <p>When reviewing VimConf 2017 and 2018, there were wonderful talks about creating useful Vim plugins and improving Vim itself.</p>

            <p>We, the VimConf staff, discussed what VimConf 2023 should be like and we found we&rsquo;d like to be closer to Vim users using Vim and being interested in diving deeper into Vim.</p>

            <p>We had more discussion and finally decided this year&rsquo;s main theme: &ldquo;how to be more productive with Vim?&rdquo;</p>

            <p>We&rsquo;re thrilled about what we&rsquo;ll see in VimConf 2023.</p>

            <p>VimConf is based on the speakers. Without CFP submissions, we cannot hold VimConf.</p>

            <p>What you need to have when submitting a CFP is not a technical supremacy, but passion for Vim.</p>

            <p>How about giving a talk in VimConf to tell other Vim users about your own Vim?</p>

            <h4>Details</h4>

            <p>Here are the details of VimConf 2023 talk submission.</p>

            <ul class="cfp">
            <li>Form URL: <a href="https://forms.gle/4SJ4dU5LXhp8Eus38">https://forms.gle/4SJ4dU5LXhp8Eus38</a></li>
            <li>Deadline: 2023-08-05 23:59 (JST)</li>
            <li>Number of submissions: Unlimited</li>
            <li>Presentation time: Choose from 15 mins, 20 mins or 30 mins

            <ul class="cfp">
            <li>we might ask you to talk more or less in order to fit within the schedule</li>
            <li>time for Q&amp;A is included, but it&rsquo;s up to you to have it or not</li>
            </ul>
            </li>
            <li>Slides' language: English</li>
            <li>Spoken language: Choose English or Japanese

            <ul class="cfp">
            <li>VimConf staff can help you with English if you are not a native English speaker</li>
            </ul>
            </li>
            <li>For screening,

            <ul class="cfp">
            <li>please pack any information the staff need to know about your proposal &ndash; It helps them</li>
            <li>The cleaner the better, but again, not submitting is probably worse than submitting a immature one.</li>
            <li>We have a screening meeting. FYI we had a six+ hour meeting last year, and we&rsquo;re looking forward to seeing many proposals this year too</li>
            </ul>
            </li>
            <li>Would be helpful for you if you refer to past presentations via the links below

            <ul class="cfp">
            <li><a href="https://vimconf.org/2017/#timetable">https://vimconf.org/2017/#timetable</a></li>
            <li><a href="https://vimconf.org/2018/#link-timetable">https://vimconf.org/2018/#link-timetable</a></li>
            </ul>
            </li>
            <li>It&rsquo;s not fix yet, but we&rsquo;re considering to assist transportation expenses</li>
            </ul>


            <p>We&rsquo;re looking forward to seeing your submissions!</p>
            </strike>

            <p>-- VimConf Preparatory Committee --</p>
          </div>
        </div>
      </section>

      <hr class="my-4">
      <section id="cfp">
        <div class="panel text-center fat-border">
          <div class="text-left">
            <h4>CFP for Lightning Talks</strike></h4>
            <p>Besides them, we&rsquo;ll have some 5 minutes lightening talks (LTs) for each session. It requires a VimConf ticket to submit a proposal for that, which is different to this CFP for the (main) speakers.</p>
            <p>Form URL: <a href="https://docs.google.com/forms/d/e/1FAIpQLSebt4sZSxW3DieVAeWq4-iHRoD9Cc1MU4wBDbTX9rwSQfbYWA/viewform">https://docs.google.com/forms/d/1CY8Nx13PNXCmQ-3w88lt2GHfkFF1KYkwbURygPGjwb0/edit</a></p>
            <p>Details in japanese: <a href="https://vim-jp.org/blog/2023/09/02/vimconf2023-CFP-open-for-LT-ja.html">vim-jp &raquo; VimConf 2023 のライトニングトークの募集を開始します</a></p>
          </div>
        </div>
      </section>

      <hr class="my-4">

      <section id="menu-tickets">
        <div class="panel text-center">
          <h3>Ticket</h3>
          <p>
            <p><a class="btn btn-secondary" href="https://vimconf2023-ticket.peatix.com/" role="button">Purchase tickets &raquo;</a></p>
          </p>
          <p>
            <del>Tickets are on sale NOW!</del>
          </p>
          <p>
            <span class="sold-out">Sold Out!</span>
          </p>
        </div>
      </section>

      <hr class="my-4" />

      <section id="menu-time-table">
        <div class="panel text-center">
          <h3>Time table</h3>
          <p>
            Some session talks are in Japanese. No translations available this time, unlike other normal VimConfs.
          </p>
          <table class="table" id="time-table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Time</th>
                <th scope="col">Content</th>
                <th scope="col">Speaker</th>
                <th scope="col">Language</th>
                <th scope="col">Slides</th>
              </tr>
            </thead>
            <tbody>
            {% for program in site.data.y2023.timetable %}
              <tr>
                {% if program.Start %}
                <td>{{ program.Start }} - {{ program.End }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if program.Video %}
                <td><a href="{{ program.Video }}">{{ program.Content }}</a></td>
                {% else %}
                <td>{{ program.Content }}</td>
                {% endif %}
                {% if program.SessionID %}
                <td><a href="sessions/#link-{{program.SessionID}}">{{ program.Speaker }}</a></td>
                {% else %}
                <td>{{ program.Speaker }}</td>
                {% endif %}
                <td>{{ program.Language }}</td>
                <td>{% if program.Slides %}<a href="slides/{{ program.Slides }}">PDF</a>{% endif %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </section>

      <hr class="my-4" />

      <section id="menu-official-blog">
        <div class="panel text-center">
          <h3 id="blog">Official blog</h3>
          <strong><a href="https://vimconf.wordpress.com" target="_blank"><img src="https://secure.gravatar.com/avatar/686f2fcfa2e7f34ed429972938f880b5?s=160&d=identicon&r=g" height="42" width="42" />
              VimConf official blog</a></strong>
          <p>What people talk about VimConf 2023: <a href="https://twitter.com/search?q=vimconf%20OR%20vimconf2023%20OR%20vimconf.org%20lang%3Aen&src=typed_query&f=live" target="_blank">Twitter search</a></p>
        </div>
      </section>

      <hr class="my-4" />

      <section id="menu-staff">
        <div class="panel text-center">
          <h3 id="staff">Staff</h3>
          <div class="row text-center">
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>aomoriringo</h4>
              <p>&nbsp;</p>
              <img src="icon/aomoriringo.png" class="staff-icon" />
              <p>
              <a href="https://github.com/aomoriringo"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/aomoriringo"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>Tatsuhiro Ujihisa</h4>
              <p>&nbsp;</p>
              <img src="icon/ujihisa.png" class="staff-icon" />
              <p>
              <a href="https://github.com/ujihisa"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/ujm"><img src="icon/twitter-icon.png" width="31" height="32" /></a>
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>Taro Muraoka</h4>
              <p>also known as <strong>KaoriYa</strong></p>
              <img src="icon/koron.png" class="staff-icon" />
              <p>
              <a href="https://github.com/koron"><img src="icon/github-icon.png" width="32" height="32" /></a>
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>thinca</h4>
              <p>&nbsp;</p>
              <img src="icon/thinca.png" class="staff-icon" />
              <p>
              <a href="https://github.com/thinca"><img src="icon/github-icon.png" width="32" height="32" /></a>
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>mopp</h4>
              <p>&nbsp;</p>
              <img src="icon/mopp.png" class="staff-icon" />
              <p>
              <a href="https://github.com/mopp"><img src="icon/github-icon.png" width="32" height="32" /></a>
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>Yasuhiro Matsumoto</h4>
              <p>also known as <strong>mattn</strong></p>
              <img src="icon/mattn.png" class="staff-icon" />
              <p>
              <a href="https://github.com/mattn"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/mattn_jp"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
              </p>
            </div>
          </div>
        </div>
      </section>

      <hr class="my-4" />

      <section class="details text-center">
        <div class="contact">
          <ul>
            <li>
              <i class="fas fa-envelope"></i>
              <a href="mailto:vimconf@gmail.com?subject=feedback">vimconf@gmail.com</a>
            </li>
            <li>
              <i class="fab fa-twitter"></i>
              <a href="https://twitter.com/vim_jp" target="_blank">https://twitter.com/vim_jp</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
