---
layout: 2023/default

title: VimConf 2023 Tiny - An international Vim Conference
ogp-image: 2023/ogp.png
---

<nav class="navbar fixed-top navbar-expand-sm navbar-short bg-dark" role="navigation">
  <a class="nav-link link text-info display-8" href="/2023/" aria-expanded="false"><img src="images/vimlogo-564x564.png" height="42" width="42" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu2a" aria-controls="navmenu2a" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navmenu2a">
    <div class="navbar-nav">
      <a class="nav-link link text-info" href="#menu-tickets" aria-expanded="false">Tickets</a>
      <a class="nav-link link text-info" href="#menu-what-is-vimconf2023" aria-expanded="false">What's VimConf 2023 Tiny</a>
      <a class="nav-link link text-info" href="#menu-time-table" aria-expanded="false">Time table</a>
      <a class="nav-link link text-info" href="#menu-official-blog" aria-expanded="false">Official Blog</a>
      <a class="nav-link link text-info" href="./sessions/" aria-expanded="false">Sessions</a>
      <a class="nav-link link text-info" href="#menu-staff" aria-expanded="false">Staff</a>
      <a class="nav-link link text-info" href="../coc/" aria-expanded="false">Code of Conduct</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="justify-content-center">
    <div class="jumbotron text">
      <div id="billboard">
        <div class="row">
          <div class="logo col-sm-4 justify-content-center">
            <img src="images/vimlogo-564x564.png" id="vim-logo" alt="Vim logo" class="img-fluid"/>
          </div>
          <div class="info col-sm-8 justify-content-center align-self-center">
            <h1 class="text-start">
              VimConf 2023 Tiny<br />
            </h1>
            <h3 class="text-start">
              <span class="font-italic">2023-11-18 13:00 to 19:30</span>
            </h3>
            <p class="lead text-start">VimConf is an international conference about Vim, the editor.</p>
          </div>
        </div>
      </div>

      <hr class="my-4" />

      <section id="menu-what-is-vimconf2023">
        <div class="panel text-center fat-border">
          <div class="text-start">
            <h4>What's VimConf 2023 Tiny</h4>
            <p>
            VimConf returns after 4 years!<br>
            VimConf is the world's first and only one conference about Vim regularly held by a community.
            </p>

            <p>VimConf, which was postponed due to COVID-19, will finally be held in 2023!</p>

            <p>
            This time, however, due to limited preparation time, it will be held in a reduced version as VimConf 2023 tiny, Various Vim-related sessions are planned. <br>
            VimConf 2023 tiny is for all Vim users. If you want to get more out of Vim or learn more about Vim, please consider attending!
            </p>

            <h5>About</h5>
            <ul>
              <li>Date: November 18th, 2023 (Sat)</li>
              <li>Time: 13:00 ~ 17:30 (Convivial party 17:30 ~ 19:30)</li>
              <li>Place: <a href="https://www.fsi.co.jp/akibaplaza/seminar01.html">Akiba Plaza, Seminar room 1</a>, at <a href="https://www.google.com/maps/dir//%E5%AF%8C%E5%A3%AB%E3%82%BD%E3%83%95%E3%83%88%E7%A7%8B%E8%91%89%E5%8E%9F%E3%83%93%E3%83%AB%E3%80%81%E3%80%92101-0022+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E7%A5%9E%E7%94%B0%E7%B7%B4%E5%A1%80%E7%94%BA%EF%BC%93/@35.700305,139.7718863,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x60188ea7985a3cb9:0x79180c34f60f0b55!2m2!1d139.7740739!2d35.7003056!3e3">Akihabara Tokyo, Japan</a></li>
              <li>Ticket sales start date: Mid-September 2023</li>
            </ul>

            <h5>Preventing the spread of COVID-19</h5>
            <p>
            We're planning to take measures to COVID-19 the VimConf 2023 Tiny venu.
            </p>

            <ul>
              <li>Please wear a mask as a general rule</li>
              <li>The speakers may take off the mask</li>
              <li>Anyone with a fever or cough will be refused entry</li>
            </ul>

            <p>
            Thank your for your understanding.<br>
            We appreciate cooperation with the above measures.<br>
            These are aimed at protecting the health and lives of all participants.<br>
            If you do not cooperate, you may be asked to leave.
            </p>

            <h5 id="misc">Misc</h5>
            <p>
            All slides are in English. Talks will be given in either English or Japanese.<br>
            (This year we aren't able to provide bidirectional realtime translations)
            </p>
            <p>
            All presentations will be recorded. We're planning to upload the videos to YouTube once the conference ends.<br>
            A photographer will take our photos. We're also planning to upload the photos to the Internet.<br>
            </p>
            <hr>
            <p>We're looking forward to seeing you!</p>
          </div>
        </div>
      </section>

      <section id="menu-what-is-vimconf2023-ja">
        <div class="panel text-center fat-border">
          <div class="text-start">
            <h4>VimConf 2023 Tiny とは?</h4>
            <p>
            VimConfが4年ぶりに帰ってくる!<br>
            VimConf は、世界初かつ世界で唯一のコミュニティによって定期運営されているVimの国際カンファレンスです。
            </p>
            <p>新型コロナの影響で開催を延期していたVimConfが、2023年ついに開催決定!<p>
            <p>
            今回は、準備期間が限られているため、VimConf 2023 tinyとして縮小版での開催となりますが、 Vimに関する様々なセッションが予定されています。<br>
            Vimユーザーなら誰でも楽しめるVimConf 2023 tiny。 Vimをもっと使いこなしたい方、Vimについてもっと知りたい方は、ぜひご参加をご検討ください!<br>
            </p>

            <h5>概要</h5>
            <ul>
              <li>日付: 2023年11月18日(土)</li>
              <li>時間: 13時00分～17時30分 (懇親会:17時30分～19時30分)</li>
              <li>場所: <a href="https://www.fsi.co.jp/akibaplaza/seminar01.html">アキバプラザ・セミナールーム1</a>, at <a href="https://www.google.com/maps/dir//%E5%AF%8C%E5%A3%AB%E3%82%BD%E3%83%95%E3%83%88%E7%A7%8B%E8%91%89%E5%8E%9F%E3%83%93%E3%83%AB%E3%80%81%E3%80%92101-0022+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E7%A5%9E%E7%94%B0%E7%B7%B4%E5%A1%80%E7%94%BA%EF%BC%93/@35.700305,139.7718863,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x60188ea7985a3cb9:0x79180c34f60f0b55!2m2!1d139.7740739!2d35.7003056!3e3">東京 秋葉原</a></li>
              <li>チケット販売開始予定: 2023年9月中旬</li>
            </ul>

            <h5>新型コロナウィルス対策</h5>
            <p>
            VimConf 2023 Tiny の会場においては、以下の新型コロナウィルス対策を実施します。
            </p>

            <ul>
              <li>原則マスクを着用してください</li>
              <li>スピーカーはスピーチ時にマスクを外すことをご了承ください</li>
              <li>当日、熱や咳がある人は入場をお断りします</li>
            </ul>

            <p>
            上記対策への理解と協力をお願いいたします。<br>
            これらは全参加者の健康と生命を守ることを目的としています。<br>
            ご協力いただけない場合には、退場いただく場合があります。
            </p>

            <h5 id="その他">その他</h5>
            <p>
            発表スライドはすべて英語です。発表は英語か日本語かいずれかの言語で行われます。<br>
            (今年は、発表に関しては英語⇒日本語、日本語⇒英語の双方向の翻訳はありません。)
            </p>
            <p>
            登壇の様子を撮影し、後日 YouTube にアップロードします。<br>
            会場内ではカメラマンによる写真撮影が行われますのでご了承ください。<br>
            写真もまとめてWeb上に掲載されます。
            </p>
            <hr>
            <p>皆様のご参加をお待ちしております。</p>
          </div>
        </div>
      </section>

      <hr class="my-4">

      <section id="menu-tickets">
        <div class="panel text-center">
          <h3>Tickets</h3>
          <p>
            <p><a class="btn btn-secondary" href="https://vimconf2023-ticket.peatix.com/" role="button">Purchase tickets &raquo;</a></p>
            <span class="sale">Tickets are on sale NOW!</span>
          </p>
        </div>
      </section>

      <hr class="my-4" />

      <section id="menu-time-table">
        <div class="panel text-center">
          <h3>Time table (TBD)</h3>
          <p>
            Some session talks are in Japanese.<br>
            No translations available this time, unlike other normal VimConfs.
          </p>
          <table class="table" id="time-table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Time</th>
                <th scope="col">Content</th>
                <th scope="col">Speaker</th>
                <th scope="col">Language</th>
                <th scope="col">Slides</th>
              </tr>
            </thead>
            <tbody>
            {% for program in site.data.y2023.timetable %}
              <tr>
                {% if program.Start %}
                <td>{{ program.Start }} - {{ program.End }}</td>
                {% else %}
                <td></td>
                {% endif %}

                {% if program.Video %}
                <td><a href="{{ program.Video }}">{{ program.Content }}</a></td>
                {% else %}
                <td>{{ program.Content }}</td>
                {% endif %}

                {% if program.SessionID %}
                <td><a href="sessions/#link-{{program.SessionID}}">{{ program.Speaker }}</a></td>
                {% else %}
                <td>{{ program.Speaker }}</td>
                {% endif %}

                <td>{{ program.Language }}</td>

                {% if program.Slides %}
                <td><a href="slides/{{ program.Slides }}">PDF</a></td>
                {% else %}
                <td>None</td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </section>

      <hr class="my-4" />

      <section id="menu-official-blog">
        <div class="panel text-center">
          <h3 id="blog">Official blog</h3>
          <strong><a href="https://vimconf.wordpress.com" target="_blank"><img src="https://secure.gravatar.com/avatar/686f2fcfa2e7f34ed429972938f880b5?s=160&d=identicon&r=g" height="42" width="42" />
              VimConf official blog</a></strong>
          <p>What people talk about VimConf 2023: <a href="https://twitter.com/search?q=vimconf%20OR%20vimconf2023%20OR%20vimconf.org%20lang%3Aen&src=typed_query&f=live" target="_blank">Twitter search</a></p>
        </div>
      </section>

      <hr class="my-4" />

      <section id="menu-staff">
        <div class="panel text-center">
          <h3 id="staff">Staff</h3>
          <div class="row text-center">
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>aomoriringo</h4>
              <p>&nbsp;</p>
              <img src="icon/aomoriringo.png" class="staff-icon" />
              <p>
              <a href="https://github.com/aomoriringo"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/aomoriringo"><img src="icon/x-icon.png" width="32" height="32" /></a>
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>Tatsuhiro Ujihisa</h4>
              <p>&nbsp;</p>
              <img src="icon/ujihisa.png" class="staff-icon" />
              <p>
              <a href="https://github.com/ujihisa"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://bsky.app/profile/ujm.bsky.social"><img src="icon/bluesky.jpg" width="31" height="32" /></a>
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>Taro Muraoka</h4>
              <p>also known as <strong>KaoriYa</strong></p>
              <img src="icon/koron.png" class="staff-icon" />
              <p>
              <a href="https://github.com/koron"><img src="icon/github-icon.png" width="32" height="32" /></a>
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>thinca</h4>
              <p>&nbsp;</p>
              <img src="icon/thinca.png" class="staff-icon" />
              <p>
              <a href="https://github.com/thinca"><img src="icon/github-icon.png" width="32" height="32" /></a>
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>mopp</h4>
              <p>&nbsp;</p>
              <img src="icon/mopp.png" class="staff-icon" />
              <p>
              <a href="https://github.com/mopp"><img src="icon/github-icon.png" width="32" height="32" /></a>
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>Yasuhiro Matsumoto</h4>
              <p>also known as <strong>mattn</strong></p>
              <img src="icon/mattn.png" class="staff-icon" />
              <p>
              <a href="https://github.com/mattn"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/mattn_jp"><img src="icon/x-icon.png" width="32" height="32" /></a>
              </p>
            </div>
          </div>
        </div>
      </section>

      <hr class="my-4" />

      <section class="details text-center">
        <div class="contact">
          <ul>
            <li>
              <i class="fas fa-envelope"></i>
              <a href="mailto:vimconf@gmail.com?subject=feedback">vimconf@gmail.com</a>
            </li>
            <li>
              <i class="fab fa-twitter"></i>
              <a href="https://twitter.com/vim_jp" target="_blank">https://twitter.com/vim_jp</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
