---
layout: 2018/default
title: Blogs
---
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="../">VimConf 2018</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../#link-tickets">Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../#link-keynote">Keynote speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../#link-timetable">Time table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../#link-side-events">Side events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../#link-sponsors">Sponsors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../#link-faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../#link-staff">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../sessions">Sessions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../coc">Code of conduct</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="mt-5">

      <div class="container">
        <br>
        <h1>Blogs</h1>
        <br>
        <h3>Sponsors</h3>
        <div class="jumbotron">
        {% for blog in site.data.y2018.blogs.sponsors %}
          <p><a href="{{ blog.link }}">{{ blog.title }}</a></p>
        {% endfor %}
        </div>
        <h3>Guest</h3>
        <div class="jumbotron">
        {% for blog in site.data.y2018.blogs.guest %}
          <p><a href="{{ blog.link }}">{{ blog.title }}</a></p>
        {% endfor %}
        </div>
        <h3>Staff</h3>
        <div class="jumbotron">
        {% for blog in site.data.y2018.blogs.staff %}
          <p><a href="{{ blog.link }}">{{ blog.title }}</a></p>
        {% endfor %}
        </div>
      </div><!-- /container -->
    </main>

    <footer class="container">
      <p>&copy; VimConf Jumbikai 2018 -</p>
      <p>Contact: vimconf@gmail.com</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
