#description-box {
	background-image: url(vimconf2017-akibaplaza.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}

#description {
	padding: 1em;
}

#description .vimconf-is {
	background-color: white;
	opacity: 0.8;
	padding: 1em;
	margin: 0.5em;
	border-radius: 0.5em;
}

