#description-box {
	background-image: url(vimconf2017-akibaplaza.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}

#description {
	padding: 1em;
}

#description .vimconf-is {
	background-color: white;
	opacity: 0.8;
	padding: 1em;
	margin: 0.5em;
	border-radius: 0.5em;
}

.sponsors-logo {
	background-color: white;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-radius: 5px;
	padding: 3px 3px 3px 3px;
    border: 4px solid rgba(100,100,100,0.05);
}

.sponsors .sponsors-name {
	font-size: 1.4em;
	color: #333;
	text-decoration: none;
}

.sponsors .sponsors-url {
	font-size: 0.7em;
}

.sponsors-logo-platinum {
	width: 450px;
	height: 450px;
}

.sponsors-logo-platinum img {
	max-width: 420px;
	max-height: 420px;
}

.sponsors-logo-silver {
	width: 270px;
	height: 270px;
}

.sponsors-logo-silver img {
	max-width: 240px;
	max-height: 240px;
}

.sponsors-logo-bronze {
	width: 210px;
	height: 210px;
}

.sponsors-logo-bronze img {
	max-width: 180px;
	max-height: 180px;
}

.sponsors-row {
	margin-bottom: 50px;
}

.staff img {
	margin: auto;
}

.staff p {
	text-align: left;
	font-size: 0.6em;
}

.staff-icon {
  width: 100%;
  max-width: 100px;
}
