#description-box {
	background-image: url(vimconf2017-akibaplaza.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}

#description {
	padding: 1em;
	background-color: rgb(255,255,255,0.2);
	border-radius: 0.5em;
}

#description .vimconf-is {
	background-color: white;
	opacity: 0.8;
	padding: 1em;
	margin: 0.5em;
	border-radius: 0.5em;
}

.sponsors-logo {
	background-color: white;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-radius: 5px;
	padding: 3px 3px 3px 3px;
    border: 4px solid rgba(100,100,100,0.05);
}

.sponsors .sponsors-name {
	font-size: 1.4em;
	color: #333;
	text-decoration: none;
}

.sponsors .sponsors-url {
	font-size: 0.7em;
}

.sponsors-logo-platinum {
	width: 450px;
	height: 450px;
}

.sponsors-logo-platinum img {
	width: 96%;
}

.sponsors-logo-gold {
	width: 350px;
	height: 350px;
}

.sponsors-logo-gold img {
	width: 96%;
}

.sponsors-logo-silver {
	width: 270px;
	height: 270px;
}

.sponsors-logo-silver img {
	width: 96%;
}

.sponsors-logo-bronze {
	width: 210px;
	height: 210px;
}

.sponsors-logo-bronze img {
	width: 96%;
}

.sponsors-row {
	margin-bottom: 50px;
}

.individual-sponsor-grid {
  padding: 1em;
  box-sizing: border-box;
  float: left;
  width: 9em;
}

.individual-sponsor {
  padding: 0.5em;
  border-radius: 0.5em;
  line-height: 1;
  text-align: center;
}

.individual-sponsor-icon {
  margin: auto;
  width: 5.854em;
  height: 5.854em;
}

.individual-sponsor h6 {
  height: 2em;
}

.individual-sponsor-icon img {
  width: 100%;
  height: 100%;
  vertical-align: text-bottom;
  border: 4px solid rgba(100,100,100,0.05);
}

.staff img {
	margin: auto;
}

.staff p {
	text-align: left;
	font-size: 0.6em;
}

.staff-icon {
  width: 100%;
  max-width: 100px;
}

@media screen and (max-width:480px) {
	.sponsors-logo-platinum {
		width: calc(100vw - 30px);
		height: calc(100vw - 30px);
	}

	.sponsors-logo-gold {
		width: calc(78vw - 30px);
		height: calc(78vw - 30px);
	}

	.sponsors-logo-silver {
		width: calc(60vw - 30px);
		height: calc(60vw - 30px);
	}

	.sponsors-logo-bronze {
		width: calc(46vw - 30px);
		height: calc(46vw - 30px);
	}
}

.sold-out {
	font-weight: bold;
	color: red;
}
