---
import favicon from "@/assets/favicon.ico?url";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { BASE_URL } from "@/consts";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { SEO } from "astro-seo";

import * as ufo from "ufo";

import "../styles/global.css";

const { lang = "ja" } = Astro.props;

const title = "VimConf 2025 Small";
const description = "VimConf 2025 Small";
const ogImageUrl = ufo.joinURL(BASE_URL, "og.png");
---

<!doctype html>
<html lang={lang}>
  <head>
    <slot name="header" />
    <meta charset="utf-8" />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
    />
    <SEO
      {title}
      {description}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: ogImageUrl,
          url: BASE_URL,
        },
      }}
      twitter={{
        title,
        description,
        creator: "@vim_jp",
        card: "summary_large_image",
        image: ogImageUrl,
      }}
      extend={{
        link: [{ rel: "icon", href: favicon }],
      }}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family:
      "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
      Meiryo, sans-serif;
    line-height: 2.4;
    color: #333;
  }
</style>
