---
layout: 2017/landing
title: VimConf 2017 - An international Vim Conference
redirect_to: https://vimconf.org/2017/
---
<div class="mdl-layout__tab-panel is-active" id="summary">

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Tickets <del>Now on Sale!</del> Sold Out!</h4>
        <ul class="mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">shopping_cart</i>
              <a href="http://peatix.com/event/311686" target="_blank">Now on Sale at Peatix</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">VimConf 2017 - Event Info</h4>
        <ul class="mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">event_note</i>
              2017-11-04 Sat.
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">access_time</i>
              10:00 to 18:00
              (open at 9:30 / after party at 18:00 〜 20:00)
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">place</i>
              <a href="http://www.fsi.co.jp/akibaplaza/hall.html" target="_blank">Akiba Hall (Akihabara, Tokyo)</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Guest Speakers</h4>
        <ul class="demo-list-three mdl-list">
          {% for guest in site.data.y2017.guest_speakers %}
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              {% if guest.icon_url %}
              <img class="mdl-list__item-avatar larger-avatar" src="{{ guest.icon_url }}"></img>
              {% else %}
              <i class="material-icons mdl-list__item-avatar">person</i>
              {% endif %}
              <span>{{ guest.name }}{% if guest.aka %} (a.k.a. {{ guest.aka }}){% endif %}</span>
              <span class="mdl-list__item-text-body">
                {{ guest.short_desc }}
              </span>
            </span>
          </li>
          {% endfor %}
        <h4 class="mdl-cell mdl-cell--12-col">Call for proposals</h4>
        <p>
        <a href="http://vim-jp.org/blog/2017/08/29/vimconf2017-call-for-speakers-en.html">
          http://vim-jp.org/blog/2017/08/29/vimconf2017-call-for-speakers-en.html
        </a>
        </p>
        </ul>
      </div>
    </div>
  </section>

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Sponsors</h4>
        <p>VimConf2017 is memorable event in large part due to our fantastic Sponsors and Supporters. If you're interested in joining this to help make VimConf great, please email at vimconf@gmail.com</p>
        <div>
          <div class="sponsors-silver-logo"><img src="mercari.png" /><br />株式会社メルカリ</div>
        </div>
        <div>
          <div class="sponsors-bronze-logo"><img src="akatsuki.png" /><br />株式会社アカツキ</div>
          <div class="sponsors-bronze-logo"><img src="atware.png" /><br />株式会社アットウェア</div>
          <div class="sponsors-bronze-logo"><img src="digitalocean.png" /><br />Digital Ocean</div>
          <div class="sponsors-bronze-logo"><img src="https://mattn.kaoriya.net/vimconf2017/dwango.png" /><br />株式会社ドワンゴ</div>
          <div class="sponsors-bronze-logo"><img src="fablic.png" /><br />株式会社Fablic</div>
          <div class="sponsors-bronze-logo"><img src="fixpoint.png" /><br />株式会社フィックスポイント</div>
        </div>
      </div>
    </div>
  </section>

</div>
<div class="mdl-layout__tab-panel" id="timetable">

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Time Table</h4>

        {% for item in site.data.y2017.timetable %}
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone timetable">
          <h5>{{ item.start }}</h5>
          <div style="float: left">
          {% if item.talk.slide %}
            <a href="{{ item.talk.slide }}">{{ item.title }}</a>
          {% else %}
            <b>{{ item.title }}</b>
          {% endif %}

          {% if item.talk.video %}
            [<a href="{{ item.talk.video }}">video</a>]
          {% endif %}
          </div>
          <div style="float: right; clear: both; text-align: right">
            {% assign ids = item.speaker.twitter-id | split: ","  %}
            {% for id in ids %}
            <div class="icon" style="display: inline-block; margin-left: 10px">
            <img src="//vimconf.vim-jp.org/images/vimconf2017/{{ id }}.png" /><br />
			<a href="https://twitter.com/{{ id }}">{{ id }}</a><br />
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

</div>
<div class="mdl-layout__tab-panel" id="articles">

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Articles</h4>

        {% for article in site.data.y2017.articles %}
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>{{ article.title }}</h5>
          <p>
          {{ article.abstract }} <a href="{{ article.url }}" target="_blank">...read this</a>
          {% if article.title_ja and article.url_ja %}<br />
          (日本語版: <a href="{{ article.url_ja }}" target="_blank">{{ article.title_ja }}</a>)
          {% endif %}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

</div>

<div class="mdl-layout__tab-panel" id="coc">

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Code of Conduct</h4>
        <div>
          <p>
          <a href="#coc_ja">日本語版はこちら / Japanese Version</a>
          </p>
        </div>
        <div>
          {% capture coc_en %}{% include coc/en.md %}{% endcapture %}
          {{ coc_en | markdownify }}
        </div>
      </div>
    </div>
  </section>

  <a name="coc_ja"></a>
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">行動規範</h4>
        <div>
          {% capture coc_ja %}{% include coc/ja.md %}{% endcapture %}
          {{ coc_ja | markdownify }}
        </div>
      </div>
    </div>
  </section>

</div>
<div class="mdl-layout__tab-panel" id="staff">

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing staff">
        <h4 class="mdl-cell mdl-cell--12-col">Management and Operations Staff</h4>

        <div style="display: inline-block; margin-left: 10px">
            {% assign ids = "kaoriya,mopp,deris,ryunix,thinca,ujihisa" | split: ","  %}
            {% for id in ids %}
            <div class="icon" style="display: inline-block; margin-left: 10px">
            <img src="//vimconf.vim-jp.org/images/vimconf2017/{{ id }}.png" /><br />
            {{ id }}<br />
            </div>
            {% endfor %}
        </div>

        <br />

        <h4 class="mdl-cell mdl-cell--12-col">Translation</h4>

        <div style="display: inline-block; margin-left: 10px">
            {% assign ids = "sandkatt,ujihisa" | split: ","  %}
            {% for id in ids %}
            <div class="icon" style="display: inline-block;">
            <img src="//vimconf.vim-jp.org/images/vimconf2017/{{ id }}.png" /><br />
            {{ id }}<br />
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>
<div class="mdl-layout__tab-panel" id="blog">

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing staff">
        <h4 class="mdl-cell mdl-cell--12-col">Blog</h4>
        <iframe height="1000px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSU7lOgw6tovdsYCD3m7-KWXLxaCg470tgbMn7sXfvdbjDQ8FTLlcEbTMzxVHJRsNSvfPv3bQfxMZlo/pubhtml?gid=961116037&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
      </div>
    </div>
  </section>
</div>
