---
layout: 2019/default
title: VimConf 2019 - An international Vim Conference
---

<nav class="navbar fixed-top navbar-expand-sm navbar-short bg-dark" role="navigation">
  <a class="nav-link link text-info display-8" href="https://vimconf.org/2019/" aria-expanded="false"><img src="https://vimconf.org/2019/images/vimlogo-564x564.png" height="42" width="42" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu2a" aria-controls="navmenu2a" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navmenu2a">
    <div class="navbar-nav">
      <a class="nav-link link text-info" href="#menu-ticket" aria-expanded="false">Ticket</a>
      <a class="nav-link link text-info" href="#menu-keynote-speakers" aria-expanded="false">Keynote speakers</a>
      <a class="nav-link link text-info" href="#menu-what-is-vimconf2019" aria-expanded="false">What's VimConf 2019</a>
      <a class="nav-link link text-info" href="#menu-time-table" aria-expanded="false">Time table</a>
      <a class="nav-link link text-info" href="#menu-blog" aria-expanded="false">Blog</a>
      <a class="nav-link link text-info" href="#menu-sponsors" aria-expanded="false">Sponsors</a>
      <a class="nav-link link text-info" href="#menu-ind-sponsors" aria-expanded="false">Individual Sponsors</a>
      <a class="nav-link link text-info" href="https://vimconf.org/2019/sessions/" aria-expanded="false">Sessions</a>
      <a class="nav-link link text-info" href="#menu-staff" aria-expanded="false">Staff</a>
      <a class="nav-link link text-info" href="https://vimconf.org/coc/" aria-expanded="false">Code of Conduct</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="justify-content-center">
    <div class="jumbotron text">
      <div id="billboard">
        <div class="row">
          <div class="logo col-sm-4 justify-content-center">
            <img src="images/vimlogo-564x564.png" id="vim-logo" alt="Vim logo" class="img-fluid"/>
          </div>
          <div class="info col-sm-8 justify-content-center align-self-center">
            <h1 class="text-left">
              VimConf 2019<br />
            </h1>
            <h3 class="text-left">
              <span class="font-italic">November 03, 2019</span>
            </h3>
            <p class="lead text-left">VimConf is an international conference about Vim, the editor.</p>
            <div class="location">
              <h2 class="font-italic">
                <a href="https://www.fsi.co.jp/akibaplaza/hall.html">@Akiba Hall</a>,  <a href="https://www.google.com/maps/dir//%E5%AF%8C%E5%A3%AB%E3%82%BD%E3%83%95%E3%83%88%E7%A7%8B%E8%91%89%E5%8E%9F%E3%83%93%E3%83%AB%E3%80%81%E3%80%92101-0022+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E7%A5%9E%E7%94%B0%E7%B7%B4%E5%A1%80%E7%94%BA%EF%BC%93/@35.700305,139.7718863,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x60188ea7985a3cb9:0x79180c34f60f0b55!2m2!1d139.7740739!2d35.7003056!3e3">Akihabara, Tokyo</a>
              </h2>
            </div>
          </div>
        </div>
      </div>

      <blockquote class="blockquote text-center">
        <p class="mb-5 small">Tell us how do you love Vim, what do you want to achieve with Vim, what practical Vim plugins you want to introduce, or even crazy ones -- there's no technical limit what to share.
          Express your Vim knowledge, skill, research, experience, and love. That's what VimConf is for.</p>
        <footer class="blockquote-footer"><cite title="VimConf 2019 Staff">VimConf 2019 Staff</cite></footer>
      </blockquote>

      <hr class="my-4" />

      <section id="menu-keynote-speakers">
        <div class="panel text-center">
          <h3>Keynote speakers</h3>
          <div class="row text-center">
            <div class="col-md-6">
              <h2>Prabir Shrestha</h2>
              <img src="icon/prabirshrestha.png" class="speaker-icon"/>
              <p>
              <a href="https://github.com/prabirshrestha"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/prabirshrestha"><img src="icon/twitter-icon.png" width="31" height="32" /></a>
              </p>
              <p>
              Prabir is Senior Software Engineering Manager at Microsoft Flow.
              Author of vim-lsp, async.vim, asyncomplete.vim. Contributor of TypeScript Language Server.
              He is actively working on many Vim plugins that works asynchronously.
              Many Vim users use his plugins. Especially vim-lsp
              works very well as a plugin which does not make vim heavy.
              </p>
            </div>

            <div class="col-md-6">
              <h2>Justin M. Keyes</h2>
              <img src="icon/justinmk.png" class="speaker-icon"/>

              <p>
              <a href="https://github.com/justinmk"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/justinmk"><img src="icon/twitter-icon.png" width="31" height="32" /></a>
              </p>
              Justin is the lead maintainer of Neovim, the Vim-fork that reaches
              beyond the terminal. He is a Vim contributor and plugin author with
              industry experience ranging from business systems to embedded devices,
              recently at a Berlin startup and Seattle megacorp.
              <p>
              </p>
            </div>
          </div>
        </div>
      </section>

      <hr class="my-4">

      <section id="menu-what-is-vimconf2019">
        <div class="panel text-center fat-border">
          <div class="text-left">
            <h4>What's VimConf 2019</h4>
            <p>VimConf is the world's first and only one conference about Vim regularly held by a community.</p>
            <h5 id="guest_speakers">Guest Speakers</h5>
            <p>This year, we'll have two keynote speakers from abroad.</p>
            <ul class="about">
              <li>prabirshrestha
                <ul class="about"><li>vim-lsp - Author</li></ul>
              </li>
              <li>justinmk
                <ul class="about"><li>Neovim - Lead maintainer</li></ul>
              </li>
            </ul>
            <h5 id="whats_vim_lsp">What's vim-lsp?</h5>
            <p>vim-lsp is the plugin for Vim/Neovim to use "Language Server Protocol", which enables many text editors to leverage various kinds of features such as auto complete and code formatting.</p>
            <ul class="about">
              <li><a href="https://microsoft.github.io/language-server-protocol/">Language Server Protocol Official Website</a></li>
              <li><a href="https://github.com/prabirshrestha/vim-lsp">prabirshrestha/vim-lsp</a></li>
            </ul>
            <h5 id="whats_neovim">What's Neovim?</h5>
            <p>Neovim is a fork of Vim focusing on customizability.</p>
            <p>Neovim has some new features like supporting MessagePack.</p>
            <ul class="about">
              <li><a href="https://neovim.io/">Neovim: hyperextensible Vim-based text editor</a></li>
            </ul>
            <p>There are many frontend apps for Neovim.</p>
            <ul class="about">
              <li><a href="https://github.com/vhakulinen/gnvim">GNvim - Rich Neovim GUI without any web bloat</a></li>
              <li><a href="https://github.com/yatli/fvim">Cross platform Neovim front-end UI, built with F# + Avalonia</a></li>
              <li><a href="https://github.com/akiyosi/gonvim">gonvim - Neovim GUI written in Golang, using a Golang qt backend</a></li>
              <li><a href="https://github.com/veonim/veonim">Veonim is a simple modal IDE built on Neovim and VSCode extensions</a></li>
            </ul>
            <hr>
            <h5 id="speakers">Speakers</h5>
            <p>We have other speakers besides the keynote speakers.</p>
            <p>See <a href="#sessions">sessions</a></p>

            <h5 id="misc">Misc</h5>
            <p>All slides are in English. Talks will be given in either English or Japanese.</p>
            <p>We'll provide a multi-way realtime translation.</p>
            <hr>
            <p>We're looking forward to seeing you!</p>
            <strong><a href="https://vimconf.wordpress.com" target="_blank"><img src="https://secure.gravatar.com/avatar/686f2fcfa2e7f34ed429972938f880b5?s=160&d=identicon&r=g" height="42" width="42" />
                VimConf official blog</a></strong>
          </div>
        </div>
      </section>

      <section id="menu-what-is-vimconf2019-ja">
        <div class="panel text-center fat-border">
          <div class="text-left">
            <h4>開催概要 (What's VimConf 2019 in Japanese)</h4>
            <p>VimConf は、世界初かつ世界で唯一のコミュニティによって定期運営されているVimの国際カンファレンスです。</p>
            <h5 id="ゲストスピーカー">ゲストスピーカー</h5>
            <p>昨年に引き続き、海外よりVimコミュニティにおいて著名な以下のお二方をお呼びしました。</p>
            <ul class="about">
              <li>prabirshrestha
                <ul class="about"><li>vim-lsp - author</li></ul>
              </li>
              <li>justinmk
                <ul class="about"><li>Neovim - Lead maintainer</li></ul>
              </li>
            </ul>
            <h5 id="vim-lspとは？">vim-lspとは？</h5>
            <p>様々なエディタ（Vim・Neovim・Emacs・VSCodeなど）で統一された開発機能を利用するための仕様、「Language Server Protocol」をVim・Neovimで利用するためのプラグインです。</p>
            <ul class="about">
              <li><a href="https://microsoft.github.io/language-server-protocol/">Language Server Protocolとは？</a></li>
              <li><a href="https://github.com/prabirshrestha/vim-lsp">prabirshrestha/vim-lsp</a></li>
            </ul>
            <p>これを利用することにより、その言語専用に作られた入力補完・コードフォーマットなどを、Vimから利用することができます。</p>
            <h5 id="Neovimとは？">Neovimとは？</h5>
            <p>高度な拡張性を与えるために分岐した、Vimのフォークです。</p>
            <p>MessagePackやUIとエンジンの疎結合化など、Vimには無かった色々な機能が多く追加されています。</p>
            <ul class="about">
              <li><a href="https://neovim.io/">Neovim: hyperextensible Vim-based text editor</a></li>
            </ul>
            <p>GUIフロントエンドが多く存在するのは特徴的です。</p>
            <ul class="about">
              <li><a href="https://www.onivim.io/">Onivim 2 - Modal Editing from the Future</a></li>
              <li><a href="https://github.com/akiyosi/gonvim">gonvim - Neovim GUI written in Golang, using a Golang qt backend</a></li>
              <li><a href="https://github.com/veonim/veonim">Veonim is a simple modal IDE built on Neovim and VSCode extensions</a></li>
            </ul>
            <hr>
            <h5 id="スピーカーについて">スピーカーについて</h5>
            <p>上記のゲストスピーカーに加えて、以下のスピーカーの登壇を予定しております。</p>
            <ul class="about">
              <li>スピーカー（<strong>近日公開</strong>）</li>
            </ul>
            <h5 id="その他">その他</h5>
            <p>発表スライドはすべて英語です。発表は英語か日本語かいずれかの言語で行われます。</p>
            <p>発表に関しては英語⇒日本語、日本語⇒英語の双方向の翻訳を予定しております。</p>
            <hr>
            <p>皆様のご参加をお待ちしております。</p>
            <strong><a href="https://vimconf.wordpress.com" target="_blank"><img src="https://secure.gravatar.com/avatar/686f2fcfa2e7f34ed429972938f880b5?s=160&d=identicon&r=g" height="42" width="42" />
                VimConf official blog</a></strong>
          </div>
        </div>
      </section>

      <hr class="my-4">

      <section id="cfp">
        <div class="panel text-center fat-border">
          <div class="text-left">
            <h4>CFP Closed -- <strike>Looking for VimConf 2019 speakers</strike></h4>

            <strike>
            <p>We&rsquo;re looking for speakers for VimConf 2019 on 2019-11-03!</p>

            <p>VimConf this year&rsquo;s main theme is &ldquo;how to be more productive with Vim?&rdquo; ― We&rsquo;re collecting talks which help Vim users to &ldquo;use Vim more productively,&rdquo; especially those who would like to boost their productivities with Vim or who wonder how other Vimmers use Vim usages.</p>

            <p>This, however, doesn&rsquo;t mean we&rsquo;re not collecting talks about Vim internals or creating Vim plugins. We&rsquo;re looking forward to see one-and-only talks backed by deep experiences.</p>

            <p>When reviewing VimConf 2017 and 2018, there were wonderful talks about creating useful Vim plugins and improving Vim itself.</p>

            <p>We, the VimConf staff, discussed what VimConf 2019 should be like and we found we&rsquo;d like to be closer to Vim users using Vim and being interested in diving deeper into Vim.</p>

            <p>We had more discussion and finally decided this year&rsquo;s main theme: &ldquo;how to be more productive with Vim?&rdquo;</p>

            <p>We&rsquo;re thrilled about what we&rsquo;ll see in VimConf 2019.</p>

            <p>VimConf is based on the speakers. Without CFP submissions, we cannot hold VimConf.</p>

            <p>What you need to have when submitting a CFP is not a technical supremacy, but passion for Vim.</p>

            <p>How about giving a talk in VimConf to tell other Vim users about your own Vim?</p>

            <h4>Details</h4>

            <p>Here are the details of VimConf 2019 talk submission.</p>

            <ul class="cfp">
            <li>Form URL: <a href="https://forms.gle/4SJ4dU5LXhp8Eus38">https://forms.gle/4SJ4dU5LXhp8Eus38</a></li>
            <li>Deadline: 2019-08-05 23:59 (JST)</li>
            <li>Number of submissions: Unlimited</li>
            <li>Presentation time: Choose from 15 mins, 20 mins or 30 mins

            <ul class="cfp">
            <li>we might ask you to talk more or less in order to fit within the schedule</li>
            <li>time for Q&amp;A is included, but it&rsquo;s up to you to have it or not</li>
            </ul>
            </li>
            <li>Slides' language: English</li>
            <li>Spoken language: Choose English or Japanese

            <ul class="cfp">
            <li>VimConf staff can help you with English if you are not a native English speaker</li>
            </ul>
            </li>
            <li>For screening,

            <ul class="cfp">
            <li>please pack any information the staff need to know about your proposal &ndash; It helps them</li>
            <li>The cleaner the better, but again, not submitting is probably worse than submitting a immature one.</li>
            <li>We have a screening meeting. FYI we had a six+ hour meeting last year, and we&rsquo;re looking forward to seeing many proposals this year too</li>
            </ul>
            </li>
            <li>Would be helpful for you if you refer to past presentations via the links below

            <ul class="cfp">
            <li><a href="https://vimconf.org/2017/#timetable">https://vimconf.org/2017/#timetable</a></li>
            <li><a href="https://vimconf.org/2018/#link-timetable">https://vimconf.org/2018/#link-timetable</a></li>
            </ul>
            </li>
            <li>It&rsquo;s not fix yet, but we&rsquo;re considering to assist transportation expenses</li>
            </ul>


            <p>We&rsquo;re looking forward to seeing your submissions!</p>
            </strike>

            <p>-- VimConf Preparatory Committee --</p>
          </div>
        </div>
      </section>

      <hr class="my-4">
      <section id="cfp">
        <div class="panel text-center fat-border">
          <div class="text-left">
            <h4>CFP for Lightning Talks</strike></h4>
            <p>Besides them, we&rsquo;ll have some 5 minutes lightening talks (LTs) for each session. It requires a VimConf ticket to submit a proposal for that, which is different to this CFP for the (main) speakers.</p>
            <p>Form URL: <a href="https://docs.google.com/forms/d/e/1FAIpQLSebt4sZSxW3DieVAeWq4-iHRoD9Cc1MU4wBDbTX9rwSQfbYWA/viewform">https://docs.google.com/forms/d/1CY8Nx13PNXCmQ-3w88lt2GHfkFF1KYkwbURygPGjwb0/edit</a></p>
            <p>Details in japanese: <a href="https://vim-jp.org/blog/2019/09/02/vimconf2019-CFP-open-for-LT-ja.html">vim-jp &raquo; VimConf 2019 のライトニングトークの募集を開始します</a></p>
          </div>
        </div>
      </section>

      <hr class="my-4">

      <section id="menu-ticket">
        <div class="panel text-center">
          <h3>Ticket</h3>
          <p>
            <p><a class="btn btn-secondary" href="https://vimconf2019-ticket.peatix.com/" role="button">Purchase tickets &raquo;</a></p>
          </p>
          <p>
            Tickets are on sale NOW!
          </p>
        </div>
      </section>

      <hr class="my-4" />

      <section id="menu-time-table">
        <div class="panel text-center">
          <h3>Time table</h3>
          <p>
            All session talks, except for lightning talks, are translated both from English to Japanese, and Japanese to English, via transceiver.
          </p>
          <p>
            <img src="images/ej-je.png" width="50%"/>
          </p>
          <table class="table" id="time-table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Time</th>
                <th scope="col">Content</th>
                <th scope="col">Speaker</th>
                <th scope="col">Language</th>
                <th scope="col">Slides</th>
              </tr>
            </thead>
            <tbody>
            {% for program in site.data.y2019.timetable %}
              <tr>
                {% if program.Start %}
                <td>{{ program.Start }} - {{ program.End }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if program.Video %}
                <td><a href="{{ program.Video }}">{{ program.Content }}</a></td>
                {% else %}
                <td>{{ program.Content }}</td>
                {% endif %}
                {% if program.SessionID %}
                <td><a href="sessions/#link-{{program.SessionID}}">{{ program.Speaker }}</a></td>
                {% else %}
                <td>{{ program.Speaker }}</td>
                {% endif %}
                <td>{{ program.Language }}</td>
                <td>{% if program.Slides %}<a href="slides/{{ program.Slides }}">PDF</a>{% endif %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </section>

      <hr class="my-4" />

      <section id="menu-blog">
        <div class="panel text-center">
          <h3 id="blog">Official blog</h3>
          <strong><a href="https://vimconf.wordpress.com" target="_blank"><img src="https://secure.gravatar.com/avatar/686f2fcfa2e7f34ed429972938f880b5?s=160&d=identicon&r=g" height="42" width="42" />
              VimConf official blog</a></strong>
          <p>What people talk about VimConf 2019: <a href="https://twitter.com/search?q=vimconf%20OR%20vimconf2019%20OR%20vimconf.org%20lang%3Aen&src=typed_query&f=live" target="_blank">Twitter search</a></p>
        </div>
      </section>

      <hr class="my-4" />

      <section id="menu-sponsors">
        <div class="panel text-center">

          <h3 class="sponsors-type">Platinum Sponsor</h3>
          <div class="row text-center">
            <div class="sponsors col-sd-12 col-md-12">
              <a href="https://www.atware.co.jp/" class="sponsors-name">atWare, Inc.</a><br />
              <a href="https://www.atware.co.jp/" class="sponsors-url">https://www.atware.co.jp/</a><br />
              <a href="https://www.atware.co.jp/">
                <div class="sponsors-logo sponsors-logo-platinum">
                  <img src="logo/atware-logo.png" />
                </div>
              </a>
            </div>
          </div>

          <br />

          <h3 class="sponsors-type">Gold Sponsors</h3>
          <div class="row text-center">
            <div class="sponsors col-md-6">
              <a href="https://dena.com/jp/" class="sponsors-name">DeNA</a><br />
              <a href="https://dena.com/jp/" class="sponsors-url">https://dena.com/jp/</a><br />
              <a href="https://dena.com/jp/">
                <div class="sponsors-logo sponsors-logo-gold">
                  <img src="logo/dena-logo.png" />
                </div>
              </a>
            </div>
            <div class="sponsors col-md-6">
              <a href="https://forcode.jp/" class="sponsors-name">FORCODE</a><br />
              <a href="https://forcode.jp/" class="sponsors-url">https://forcode.jp/</a><br />
              <a href="https://forcode.jp/">
                <div class="sponsors-logo sponsors-logo-gold">
                  <img src="logo/forcode-logo.png" />
                </div>
              </a>
            </div>
          </div>

          <br />

          <h3 class="sponsors-type">Silver Sponsors</h3>
          <div class="row text-center">
            <div class="sponsors col-md-4">
              <a href="https://aktsk.jp/" class="sponsors-name">Akatsuki Inc.</a><br />
              <a href="https://aktsk.jp/" class="sponsors-url">https://aktsk.jp/</a><br />
              <a href="https://aktsk.jp/">
                <div class="sponsors-logo sponsors-logo-silver">
                  <img src="logo/akatsuki-logo.png" />
                </div>
              </a>
            </div>
            <div class="sponsors col-md-4">
              <a href="https://www.fixpoint.co.jp/" class="sponsors-name">fixpoint, Inc.</a><br />
              <a href="https://www.fixpoint.co.jp/" class="sponsors-url">https://www.fixpoint.co.jp/</a><br />
              <a href="https://www.fixpoint.co.jp/">
                <div class="sponsors-logo sponsors-logo-silver">
                  <img src="logo/fixpoint-logo.png" />
                </div>
              </a>
            </div>
            <div class="sponsors col-md-4">
              <a href="http://corp.gree.net/jp/ja/" class="sponsors-name">GREE, Inc.</a><br />
              <a href="http://corp.gree.net/jp/ja/" class="sponsors-url">http://corp.gree.net/jp/ja/</a><br />
              <a href="http://corp.gree.net/jp/ja/">
                <div class="sponsors-logo sponsors-logo-silver">
                  <img src="logo/gree-logo.png" />
                </div>
              </a>
            </div>
            <div class="sponsors col-md-4">
              <a href="https://www.quipper.com/" class="sponsors-name">Quipper Limited</a><br />
              <a href="https://www.quipper.com/" class="sponsors-url">https://www.quipper.com/</a><br />
              <a href="https://www.quipper.com/">
                <div class="sponsors-logo sponsors-logo-silver">
                  <img src="logo/quipper-logo.png" />
                </div>
              </a>
            </div>
          </div>

          <br />

          <h3 class="sponsors-type">Bronze Sponsor</h3>
          <div class="row text-center">
            <div class="sponsors col-md-12">
              <a href="http://www.endeworks.jp/" class="sponsors-name">endeworks. Inc</a><br />
              <a href="http://www.endeworks.jp/" class="sponsors-url">http://www.endeworks.jp/</a><br />
              <a href="http://www.endeworks.jp/">
                <div class="sponsors-logo sponsors-logo-bronze">
                  <img src="logo/endeworks-logo.png" />
                </div>
              </a>
            </div>
          </div>

          <hr>

          <!--
          <p>
            <strike>
              Want to be a sponsor?<br />
              <strong><a href="https://forms.gle/KzpBDA5dbeYhagyE8" target="_blank">Get in touch!</a></strong>
            </strike><br />
            Thank you for sponsors!<br />
          </p>
		  -->
        </div>
      </section>

      <hr class="my-4" />

      <section id="menu-ind-sponsors">
        <div class="panel text-center">
          <h3 class="sponsors-type">Individual Sponsors</h3>
          <div class="row text-center">
            {% for individual_sponsor in site.data.y2019.individual_sponsors %}
            <div class="individual-sponsors col-md-2 col-sm-4 col-6">
              <h6>{{ individual_sponsor.name }}</h6>
              <div class="individual-sponsors-logo">
                <img src="individual-sponsor/{{ individual_sponsor.icon_name }}.png"/>
              </div>
              <p>{{ individual_sponsor.comment }}</p>
            </div>
            {% endfor %}
          </div>

          <hr>

          <p>
            Want to be an individual sponsor?<br />
            <strong><a href="https://vimconf2019-individual-sponsor-option.peatix.com/" target="_blank">Get in touch!</a></strong>
          </p>
        </div>
      </section>

      <hr class="my-4" />

      <section id="menu-staff">
        <div class="panel text-center">
          <h3 id="staff">Staff</h3>
          <div class="row text-center">
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>aomoriringo</h4>
              <p>&nbsp;</p>
              <img src="icon/aomoriringo.png" class="staff-icon" />
              <p>
              <a href="https://github.com/aomoriringo"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/aomoriringo"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
              </p>
              <p>The core staff leader of VimConf 2019. He will be exciting VimConf as a staff this year too.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>Tatsuhiro Ujihisa</h4>
              <p>&nbsp;</p>
              <img src="icon/ujihisa.png" class="staff-icon" />
              <p>
              <a href="https://github.com/ujihisa"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/ujm"><img src="icon/twitter-icon.png" width="31" height="32" /></a>
              </p>
              <p>Started VimConf in 2013. He has been using Vim for about 21 years. He gave a talk about Vim's modes internal implementation last last year at VimConf 2018. <a href="https://www.youtube.com/watch?v=3uUYf7eiI8Q" target="_blank">"modes"</a></p>
              <p>Vancouver, BC, Canada</p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>Taro Muraoka</h4>
              <p>also known as <strong>KaoriYa</strong></p>
              <img src="icon/koron.png" class="staff-icon" />
              <p>
              <a href="https://github.com/koron"><img src="icon/github-icon.png" width="32" height="32" /></a>
              </p>
              <p>Legendary developer of Vim. Managed VimConf overall. He wrote many patches to fix Vim issues on Windows. ex: DirectX drawing. And he provide kaoriya-vim which is a patched version of Vim.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>thinca</h4>
              <p>&nbsp;</p>
              <img src="icon/thinca.png" class="staff-icon" />
              <p>
              <a href="https://github.com/thinca"><img src="icon/github-icon.png" width="32" height="32" /></a>
              </p>
              <p>Famous creator of Vim plugins. Creator of quickrun.vim, themis.vim, etc. <a href="https://megurovim.connpass.com/">Meguro.vim</a> organizer</p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>mopp</h4>
              <p>&nbsp;</p>
              <img src="icon/mopp.png" class="staff-icon" />
              <p>
              <a href="https://github.com/mopp"><img src="icon/github-icon.png" width="32" height="32" /></a>
              </p>
              <p>MC of VimConf 2017/2018. He has been using Vim for about 7 years. The main vim activities are to custimize Vim, create plugin and send PRs to plugin.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>Yasuhiro Matsumoto</h4>
              <p>also known as <strong>mattn</strong></p>
              <img src="icon/mattn.png" class="staff-icon" />
              <p>
              <a href="https://github.com/mattn"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/mattn_jp"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
              </p>
              <p>Maintained this web site. He has been using Vim for about 20 years.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>guyon</h4>
              <p>&nbsp;</p>
              <img src="icon/guyon.png" class="staff-icon" />
              <p>
              <a href="https://github.com/guyon"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/gu4"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
              </p>
              <p><a href="https://yokohamavim.connpass.com/">Yokohama.vim</a> organizer</p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>aiya000</h4>
              <p>&nbsp;</p>
              <img src="icon/aiya000.png" class="staff-icon" />
              <p>
              <a href="https://github.com/aiya000"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/public_ai000ya"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
              </p>
              <p>A writer of VimConf 2019, and Haskell.</p>
            </div>
            <div class="col-md-4 col-sm-4 col-6 staff">
              <h4>okuramasafumi</h4>
              <p>&nbsp;</p>
              <img src="icon/okuramasafumi.png" class="staff-icon" />
              <p>
              <a href="https://github.com/okuramasafumi"><img src="icon/github-icon.png" width="32" height="32" /></a>
              <a href="https://twitter.com/okuramasafumi"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
              </p>
              <p>He's been using Vim for a whole carrier as a developer. Chief i18n officer.</p>
            </div>
          </div>
        </div>
      </section>

      <hr class="my-4" />

      <section class="details text-center">
        <div class="contact">
          <ul>
            <li>
              <i class="fas fa-envelope"></i>
              <a href="mailto:vimconf@gmail.com?subject=feedback">vimconf@gmail.com</a>
            </li>
            <li>
              <i class="fab fa-twitter"></i>
              <a href="https://twitter.com/vim_jp" target="_blank">https://twitter.com/vim_jp</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
