---
layout: 2019/default
title: VimConf 2019 - An international Vim Conference
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Gugi|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="css/base.css">
    <title>VimConf 2019</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-short bg-dark" role="navigation">
      <a class="nav-link link text-info display-5" href="https://vimconf.org/2019/" aria-expanded="false"><img src="https://vimconf.org/2019/images/vimlogo-564x564.png" height="42" width="42" /></a>
      <a class="nav-link link text-info display-5" href="#menu-ticket" aria-expanded="false">Ticket</a>
      <a class="nav-link link text-info display-5" href="#menu-keynote-speakers" aria-expanded="false">Keynote speakers</a>
      <a class="nav-link link text-info display-5" href="#menu-ticket" aria-expanded="false">Ticket</a>
      <a class="nav-link link text-info display-5" href="#menu-time-table" aria-expanded="false">Time table</a>
      <a class="nav-link link text-info display-5" href="#menu-blog" aria-expanded="false">Blog</a>
      <a class="nav-link link text-info display-5" href="#menu-sponsors" aria-expanded="false">Sponsors</a>
      <a class="nav-link link text-info display-5" href="#menu-staff" aria-expanded="false">Staff</a>
    </nav>
    <div class="container">
      <div class="justify-content-center">
        <div class="jumbotron text">
          <div id="billboard">
            <div class="row">
              <div class="logo col-sm-4 justify-content-center">
                <img src="images/vimlogo-564x564.png" id="vim-logo" alt="Vim logo" class="img-fluid"/>
              </div>
              <div class="info col-sm-8 justify-content-center align-self-center">
                <h1 class="text-left">
                  VimConf 2019<br />
                </h1>
                <h3 class="text-left">
                  <span class="font-italic">November 03, 2019</span>
                </h3>
                <p class="lead text-left">VimConf is an international conference about Vim, the editor.</p>
                <div class="location">
                  <h2 class="font-italic">
                    <a href="https://www.fsi.co.jp/akibaplaza/hall.html">@Akiba Hall</a>,  <a href="https://www.google.com/maps/dir//%E5%AF%8C%E5%A3%AB%E3%82%BD%E3%83%95%E3%83%88%E7%A7%8B%E8%91%89%E5%8E%9F%E3%83%93%E3%83%AB%E3%80%81%E3%80%92101-0022+%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E7%A5%9E%E7%94%B0%E7%B7%B4%E5%A1%80%E7%94%BA%EF%BC%93/@35.700305,139.7718863,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x60188ea7985a3cb9:0x79180c34f60f0b55!2m2!1d139.7740739!2d35.7003056!3e3">Akihabara, Tokyo</a>
                  </h2>
                </div>
              </div>
            </div>
          </div>

          <blockquote class="blockquote text-center">
            <p class="mb-5 small">Tell us how do you love Vim, what do you want to achieve with Vim, what practical Vim plugins you want to introduce, or even crazy ones -- there's no technical limit what to share.
              Express your Vim knowledge, skill, research, experience, and love. That's what VimConf is for.</p>
            <footer class="blockquote-footer"><cite title="VimConf 2019 Staff">VimConf 2019 Staff</cite></footer>
          </blockquote>

          <hr class="my-4" />

          <section id="menu-keynote-speakers">
            <div class="panel text-center">
              <h3>Keynote speakers</h3>
              <div class="row text-center">
                <div class="col-md-6">
                  <h2>Prabir Shrestha</h2>
                  <img src="icon/prabirshrestha.png" class="speaker-icon"/>
                  <p>
                  <a href="https://github.com/prabirshrestha"><img src="icon/github-icon.png" width="32" height="32" /></a>
                  <a href="https://twitter.com/prabirshrestha"><img src="icon/twitter-icon.png" width="31" height="32" /></a>
                  </p>
                  <p>
                  Prabir is Senior Software Engineering Manager at Microsoft Flow.
                  Author of vim-lsp, async.vim, asyncomplete.vim. Contributor of TypeScript Language Server.
                  He is actively working on many Vim plugins that works asynchronously.
                  Many Vim users use his plugins. Especially vim-lsp
                  works very well as a plugin which does not make vim heavy.
                  </p>
                </div>

                <div class="col-md-6">
                  <h2>Justin M. Keyes</h2>
                  <img src="icon/justinmk.png" class="speaker-icon"/>

                  <p>
                  <a href="https://github.com/justinmk"><img src="icon/github-icon.png" width="32" height="32" /></a>
                  <a href="https://twitter.com/justinmk"><img src="icon/twitter-icon.png" width="31" height="32" /></a>
                  </p>
                  Justin is the current lead maintainer of Neovim, a popular fork of the
                  Vim text editor focused on extensibility, usability, and new
                  contributors. He is a Vim contributor and author of plugins including
                  vim-sneak and vim-dirvish. His professional experience ranges from
                  business systems to embedded hardware, now at a megacorp following
                  years in a Berlin startup. With Neovim, Justin hopes to maximize Vim's
                  reach beyond the terminal. 
                  <p>
                  </p>
                </div>
                </p>
              </div>
            </div>
          </section>

          <hr class="my-4">

          <section id="cfp-en">
            <div class="panel text-center fat-border">
              <div class="text-left">
              <h4>Looking for VimConf 2019 speakers</h4>

              <p>We&rsquo;re looking for speakers for VimConf 2019 on 2019-11-03!</p>

              <p>VimConf this year&rsquo;s main theme is &ldquo;how to be more productive with Vim?&rdquo; ― We&rsquo;re collecting talks which help Vim users to &ldquo;use Vim more productively,&rdquo; especially those who would like to boost their productivities with Vim or who wonder how other Vimmers use Vim usages.</p>

              <p>This, however, doesn&rsquo;t mean we&rsquo;re not collecting talks about Vim internals or creating Vim plugins. We&rsquo;re looking forward to see one-and-only talks backed by deep experiences.</p>

              <p>When reviewing VimConf 2017 and 2018, there were wonderful talks about creating useful Vim plugins and improving Vim itself.</p>

              <p>We, the VimConf staff, discussed what VimConf 2019 should be like and we found we&rsquo;d like to be closer to Vim users using Vim and being interested in diving deeper into Vim.</p>

              <p>We had more discussion and finally decided this year&rsquo;s main theme: &ldquo;how to be more productive with Vim?&rdquo;</p>

              <p>We&rsquo;re thrilled about what we&rsquo;ll see in VimConf 2019.</p>

              <p>VimConf is based on the speakers. Without CFP submissions, we cannot hold VimConf.</p>

              <p>What you need to have when submitting a CFP is not a technical supremacy, but passion for Vim.</p>

              <p>How about giving a talk in VimConf to tell other Vim users about your own Vim?</p>

              <h4>Details</h4>

              <p>Here are the details of VimConf 2019 talk submission.</p>

              <ul class="cfp">
              <li>Form URL: <a href="https://forms.gle/4SJ4dU5LXhp8Eus38">https://forms.gle/4SJ4dU5LXhp8Eus38</a></li>
              <li>Deadline: 2019-08-05 23:59 (JST)</li>
              <li>Number of submissions: Unlimited</li>
              <li>Presentation time: Choose from 15 mins, 20 mins or 30 mins

              <ul class="cfp">
              <li>we might ask you to talk more or less in order to fit within the schedule</li>
              <li>time for Q&amp;A is included, but it&rsquo;s up to you to have it or not</li>
              </ul>
              </li>
              <li>Slides' language: English</li>
              <li>Spoken language: Choose English or Japanese

              <ul class="cfp">
              <li>VimConf staff can help you with English if you are not a native English speaker</li>
              </ul>
              </li>
              <li>For screening,

              <ul class="cfp">
              <li>please pack any information the staff need to know about your proposal &ndash; It helps them</li>
              <li>The cleaner the better, but again, not submitting is probably worse than submitting a immature one.</li>
              <li>We have a screening meeting. FYI we had a six+ hour meeting last year, and we&rsquo;re looking forward to seeing many proposals this year too</li>
              </ul>
              </li>
              <li>Would be helpful for you if you refer to past presentations via the links below

              <ul class="cfp">
              <li><a href="https://vimconf.org/2017/#timetable">https://vimconf.org/2017/#timetable</a></li>
              <li><a href="https://vimconf.org/2018/#link-timetable">https://vimconf.org/2018/#link-timetable</a></li>
              </ul>
              </li>
              <li>It&rsquo;s not fix yet, but we&rsquo;re considering to assist transportation expenses</li>
              </ul>


              <p>We&rsquo;re looking forward to seeing your submissions!</p>

              <h4>Lightning talks (not open yet)</h4>

              <p>Besides them, we&rsquo;ll have some 5 minutes lightening talks (LTs) for each session. It requires a VimConf ticket to submit a proposal for that, which is different to this CFP for the (main) speakers. We&rsquo;ll open a dedicated form for LTs soon after we start selling tickets for VimConf 2019.</p>

              <p>-- VimConf Preparatory Committee --</p>

              </div>
            </div>
          </section>

          <section id="cfp-en">
            <div class="panel text-center fat-border">
              <h4 id="vimconf-2019の発表者を公募">VimConf 2019の発表者を公募</h4>
              <div class="text-left">
                <p>2019-11-03に開催するVimConf 2019の発表者を公募します！</p>
                <p>今年は「もっとVimを上手に使えるようになりたい」「Vimを使って生産性を上げたい」「みんなはどのようにVimを使って開発をしてるんだろう？」 そんな、聞いた人が明日からもっと「上手にVimを使うことができる」ようになる発表を募集します。</p>
                <p>もちろん、Vim本体に関する話やVim Plugin作成側の話も遠慮なく応募して頂きたいです。 経験により裏打ちされた、その人しか出来ないような、深い発表もお待ちしております。</p>
                <p>『VimConf 2017 / VimConf 2018』を振り返ってみると、便利なVim Pluginを作ったり、Vim本体を改良したりと素晴らしい話が沢山ありました。</p>
                <p>これらを踏まえてVimConf 2019の方向性をどうするかをスタッフで話し合った結果「今年はもっとVimのユーザと近い距離でありたい」「なんとなくVimを使っているがもう一歩踏み込んでみたいユーザに参加してもらいたい」という意見が集まりました。 更に議論を重ねて「Vimを使って如何にして生産性を向上するか？」をメインテーマしました。</p>
                <p>一体どんな発表が見れるのだろうと、我々スタッフも今から期待に胸を膨らませています。</p>
                <p>VimConfは登壇者の皆様の力によって成り立つカンファレンスです。発表の応募なくしては開催する事が出来ません。 必要なのは技術力ではありません。Vimに対する熱い思いなのです。</p>
                <p>皆さんご自身のVimを別の誰かに届ける為に、皆さんの発表を聞かせてもらえないでしょうか？</p>
                <p>応募フォーム: <a href="https://forms.gle/4SJ4dU5LXhp8Eus38">https://forms.gle/4SJ4dU5LXhp8Eus38</a></p>
                <ul class="cfp">
                <li>締切
                <ul>
                <li>2019-08-05 (月) 23:59 JST</li>
                <li>1人あたりの提出数に制限はありません</li>
                </ul></li>
                <li>発表時間
                <ul>
                <li>15分・20分・30分のいずれか</li>
                <li>質疑応答は登壇者の自由です</li>
                <li>発表スケジュール調整のために、スタッフから「発表時間を長くしてほしい・短くしてほしい」とお願いすることがあるかもしれません</li>
                </ul></li>
                <li>発表言語
                <ul>
                <li>話す言語は『日本語』か『英語』が選択できます</li>
                <li>発表スライドは『英語』でお願いします</li>
                <li>スタッフからの英語の補助をすることができます (e.g., 誤字脱字の添削)</li>
                </ul></li>
                <li>審査のために
                <ul>
                <li>今年もスタッフ全員で採択会議を行います</li>
                <li>スタッフが検討/比較をするためにも、CFPには可能な限りの情報を詰め込んでください
                <ul>
                <li>清書されたものが好ましいですが、箇条書き・書き殴りのようなものでもあったほうが好ましいです</li>
                </ul></li>
                <li>ちなみにVimConf 2018では採択のために6時間程オフラインで会議をしました。今年も今から楽しみにしています</li>
                </ul></li>
                <li>過去の発表は以下のリンクから参照できます
                <ul>
                <li><a href="https://vimconf.org/2017/#timetable">https://vimconf.org/2017/#timetable</a></li>
                <li><a href="https://vimconf.org/2018/#link-timetable">https://vimconf.org/2018/#link-timetable</a></li>
                </ul></li>
                <li>交通費の補助
                <ul>
                <li>現時点で未定ですが、補助を検討しています</li>
                </ul></li>
                </ul>
                <p>上記の登壇以外に、『LT発表枠』を設けます。一人あたり5分間の発表になります。 応募条件は当日参加している人です。チケットの販売と同時に、専用フォームを公開します。</p>
                <p>それでは、皆様の応募をお待ちしています。</p>
                <p>― VimConf準備会 ―</p>
              </div>
            </div>
          </section>

          <hr class="my-4">

          <section id="menu-ticket">
            <div class="panel text-center">
              <h3>Ticket</h3>
              <p>
				<p><a class="btn btn-secondary" href="https://vimconf2019-ticket.peatix.com/" role="button">Purchase tickets &raquo;</a></p>
              </p>
              <p>
                <a href="https://vimconf.wordpress.com/2019/08/09/schedule-for-vimconf-2019-tickets/">Tickets will be on sale later, likely early September.</a>
              </p>
            </div>
          </section>

          <hr class="my-4" />

          <section id="menu-time-table">
            <div class="panel text-center">
              <h3>Time table</h3>
              <p>
              We'll publish VimConf 2019 timetable likely between the end of Aug 2019 to the beginning of Sep 2019. Stay tuned!
              </p>
              <p>
              Just for your info, it's going to be somewhat similar to the <a href="https://vimconf.org/2018/#link-timetable">VimConf 2018 timetable</a>.
              </p>
              <!--
              <p>All session talks, besides lightning talks, are translated both from English to Japanese, and Japanese to English, via transceiver. </p>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Content</th>
                    <th scope="col">Speaker</th>
                    <th scope="col">Language</th>
                    <th scope="col">Slide</th>
                  </tr>
                </thead>
                <tbody>
                {% for program in site.data.y2019.timetable %}
                  <tr>
                    {% if program.Start %}
                    <th>{{ program.Start }} - {{ program.End }}</th>
                    {% else %}
                    <th></th>
                    {% endif %}
                    {% if program.Video %}
                    <th><a href="{{ program.Video }}">{{ program.Content }}</a></th>
                    {% else %}
                    <th>{{ program.Content }}</th>
                    {% endif %}
                    {% if program.SessionID %}
                    <th><a href="sessions/#link-{{program.SessionID}}">{{ program.Speaker }}</a></th>
                    {% else %}
                    <th>{{ program.Speaker }}</th>
                    {% endif %}
                    <th>{{ program.Language }}</th>
                    <th>{% if program.Slide %}<a href="slides/{{ program.Slide }}">PDF</a>{% endif %}</th>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              -->
            </div>
          </section>

          <hr class="my-4" />

          <section id="menu-blog">
            <div class="panel text-center">
              <h3 id="blog">Blog</h3>
              <strong><a href="https://vimconf.wordpress.com" target="_blank"><img src="https://secure.gravatar.com/avatar/686f2fcfa2e7f34ed429972938f880b5?s=160&d=identicon&r=g" height="42" width="42" />
                  VimConf official blog</a></strong>
              </p>
              <p>What people talk about VimConf 2019: <a href="https://twitter.com/search?q=vimconf%20OR%20vimconf2019%20OR%20vimconf.org%20lang%3Aen&src=typed_query&f=live" target="_blank">Twitter search</a></p>
            </div>
          </section>
          <hr class="my-4" />

          <section id="menu-sponsors">
            <div class="panel text-center">
              <h3 id="sponsors">Sponsors</h3>
              <!--
              <div class="row text-center">
                <div class="sponsors col-md-12">
                  <a href="https://www.example.com/" class="sponsors-name">example</a><br />
                  <a href="https://www.example.com/" class="sponsors-url">https://www.example.com/</a><br />
                  <a href="https://www.example.com/">
                    <div class="sponsors-logo sponsors-logo-platinum">
                      <img src="logo/example-logo.png" />
                    </div>
                  </a>
                </div>
              </div>
              -->

              <p>
              Want to be a sponsor?<br />
              <strong><a href="https://forms.gle/KzpBDA5dbeYhagyE8" target="_blank">Get in touch!</a></strong>
              </p>
            </div>
          </section>

          <hr class="my-4" />

          <section id="menu-staff">
            <div class="panel text-center">
              <h3 id="staff">Staff</h3>
              <div class="row text-center">
                <div class="col-md-4 col-sm-4 col-6 staff">
                  <h4>Tatsuhiro Ujihisa</h4>
                  <p>&nbsp;</p>
                  <img src="icon/ujihisa.png" class="staff-icon" />
                  <p>
                  <a href="https://github.com/ujihisa"><img src="icon/github-icon.png" width="32" height="32" /></a>
                  <a href="https://twitter.com/ujm"><img src="icon/twitter-icon.png" width="31" height="32" /></a>
                  </p>
                  <p>Started VimConf in 2013. He has been using Vim for about 21 years. He gave a talk about Vim's modes internal implementation last last year at VimConf 2018. <a href="https://www.youtube.com/watch?v=3uUYf7eiI8Q" target="_blank">"modes"</a></p>
                  <p>Vancouver, BC, Canada</p>
                </div>
                <div class="col-md-4 col-sm-4 col-6 staff">
                  <h4>Taro Muraoka</h4>
                  <p>also known as <strong>KaoriYa</strong></p>
                  <img src="icon/koron.png" class="staff-icon" />
                  <p>
                  <a href="https://github.com/koron"><img src="icon/github-icon.png" width="32" height="32" /></a>
                  </p>
                  <p>Legendary developer of Vim. Managed VimConf overall. He wrote many patches to fix Vim issues on Windows. ex: DirectX drawing. And he provide kaoriya-vim which is a patched version of Vim.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-6 staff">
                  <h4>thinca</h4>
                  <p>&nbsp;</p>
                  <img src="icon/thinca.png" class="staff-icon" />
                  <p>
                  <a href="https://github.com/thinca"><img src="icon/github-icon.png" width="32" height="32" /></a>
                  </p>
                  <p>Famous creator of Vim plugins. Creator of quickrun.vim, themis.vim, etc. <a href="https://megurovim.connpass.com/">Meguro.vim</a> organizer</p>
                </div>
                <div class="col-md-4 col-sm-4 col-6 staff">
                  <h4>aomoriringo</h4>
                  <p>&nbsp;</p>
                  <img src="icon/aomoriringo.png" class="staff-icon" />
                  <p>
                  <a href="https://github.com/aomoriringo"><img src="icon/github-icon.png" width="32" height="32" /></a>
                  <a href="https://twitter.com/aomoriringo"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
                  </p>
                  <p>A key player of staff of VimConf. He will be exciting VimConf as a staff this year too.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-6 staff">
                  <h4>mopp</h4>
                  <p>&nbsp;</p>
                  <img src="icon/mopp.png" class="staff-icon" />
                  <p>
                  <a href="https://github.com/mopp"><img src="icon/github-icon.png" width="32" height="32" /></a>
                  </p>
                  <p>MC of VimConf 2017/2018. He has been using Vim for about 7 years. The main vim activities are to custimize Vim, create plugin and send PRs to plugin.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-6 staff">
                  <h4>Yasuhiro Matsumoto</h4>
                  <p>also known as <strong>mattn</strong></p>
                  <img src="icon/mattn.png" class="staff-icon" />
                  <p>
                  <a href="https://github.com/mattn"><img src="icon/github-icon.png" width="32" height="32" /></a>
                  <a href="https://twitter.com/mattn_jp"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
                  </p>
                  <p>Maintained this web site. He has been using Vim for about 20 years.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-6 staff">
                  <h4>guyon</h4>
                  <p>&nbsp;</p>
                  <img src="icon/guyon.png" class="staff-icon" />
                  <p>
                  <a href="https://github.com/guyon"><img src="icon/github-icon.png" width="32" height="32" /></a>
                  <a href="https://twitter.com/gu4"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
                  </p>
                  <p><a href="https://yokohamavim.connpass.com/">Yokohama.vim</a> organizer</p>
                </div>
                <div class="col-md-4 col-sm-4 col-6 staff">
                  <h4>aiya000</h4>
                  <p>&nbsp;</p>
                  <img src="icon/aiya000.png" class="staff-icon" />
                  <p>
                  <a href="https://github.com/aiya000"><img src="icon/github-icon.png" width="32" height="32" /></a>
                  <a href="https://twitter.com/public_ai000ya"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
                  </p>
                  <p>A writer of VimConf 2019, and Haskell.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-6 staff">
                  <h4>okuramasafumi</h4>
                  <p>&nbsp;</p>
                  <img src="icon/okuramasafumi.png" class="staff-icon" />
                  <p>
                  <a href="https://github.com/okuramasafumi"><img src="icon/github-icon.png" width="32" height="32" /></a>
                  <a href="https://twitter.com/okuramasafumi"><img src="icon/twitter-icon.png" width="32" height="32" /></a>
                  </p>
                  <p>He's been using Vim for a whole carrier as a developer. Chief i18n officer.</p>
                </div>
              </div>
            </div>
          </section>

          <hr class="my-4" />

          <section class="details text-center">
            <div class="contact">
              <ul>
                <li>
                  <i class="fas fa-envelope"></i>
                  <a href="mailto:vimconf@gmail.com?subject=feedback">vimconf@gmail.com</a>
                </li>
                <li>
                  <i class="fab fa-twitter"></i>
                  <a href="https://twitter.com/vim_jp" target="_blank">https://twitter.com/vim_jp</a>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
