---
layout: 2019/default
title: Sessions
---

<nav class="navbar fixed-top navbar-expand-sm navbar-short bg-dark" role="navigation">
  <a class="nav-link link text-info display-8" href="https://vimconf.org/2019/" aria-expanded="false"><img src="https://vimconf.org/2019/images/vimlogo-564x564.png" height="42" width="42" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu2a" aria-controls="navmenu2a" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navmenu2a">
    <div class="navbar-nav">
      <a class="nav-link link text-info" href="..#menu-ticket" aria-expanded="false">Ticket</a>
      <a class="nav-link link text-info" href="..#menu-keynote-speakers" aria-expanded="false">Keynote speakers</a>
      <a class="nav-link link text-info" href="..#menu-what-is-vimconf2019" aria-expanded="false">What's VimConf 2019</a>
      <a class="nav-link link text-info" href="..#menu-time-table" aria-expanded="false">Time table</a>
      <a class="nav-link link text-info" href="..#menu-blog" aria-expanded="false">Blog</a>
      <a class="nav-link link text-info" href="..#menu-sponsors" aria-expanded="false">Sponsors</a>
      <a class="nav-link link text-info" href="..#menu-ind-sponsors" aria-expanded="false">Indivisual Sponsors</a>
      <a class="nav-link link text-info" href="https://vimconf.org/2019/sessions/" aria-expanded="false">Sessions</a>
      <a class="nav-link link text-info" href="..#menu-staff" aria-expanded="false">Staff</a>
      <a class="nav-link link text-info" href="https://vimconf.org/coc/" aria-expanded="false">Code of Conduct</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="justify-content-center">
    <div class="jumbotron text">

      <section id="menu-sessions">
        <h3 id="link-sessions">Sessions</h3>

        {% for session in site.data.y2019.sessions %}
        <div class="panel text-left">
          <div class="row">
            <div class="col-md-12" id="link-{{ session.session_id }}">
              <h4 class="session-title">{{ session.title }}</h4>
			  <span class="badge badge-info">{{ session.language }}</span>
            </div>

            <h4 class="col-md-12">Abstract</h4>
			<div class="col-md-12">
            {{ session.abstract | markdownify }}
			</div>
            <br />

            <h4 class="col-md-12">Speaker</h4>
			<div class="col-md-6 text-center">
              <strong>{{ session.speaker }}</strong><br />
              <img src="{{ session.image }}" width="150" height="150" />
			</div>

			<div class="col-md-6">
              {% if session.github %}<a href="https://github.com/{{ session.github }}"><img src="../icon/github-icon.png" width="32" height="32" alt="Link to GitHub account"/></a>{% endif %}
              {% if session.twitter %}<a href="https://twitter.com/{{ session.twitter }}"><img src="../icon/twitter-icon.png" width="32" height="32" alt="Link to Twitter account" /></a>{% endif %}
              <br />
              {{ session.bio | markdownify }}
			</div>
          </div>
        </div>
		<br />
        {% endfor %}
      </section>
	  <hr>

      <section id="menu-lightning">
        <h3 id="link-lightning">Lightning Talks</h3>

        {% for lt in site.data.y2019.lightning %}
        <div class="panel text-left">
          <div class="row">
            <div class="col-md-12" id="link-{{ lt.session_id }}">
              <h4 class="lt-title">{{ lt.title }}</h4>
			  <span class="badge badge-info">{{ lt.language }}</span>
            </div>

            <h4 class="col-md-12">Abstract</h4>
			<div class="col-md-12">
            {{ lt.abstract | markdownify }}
			</div>
            <br />

            <h4 class="col-md-12">Speaker</h4>
			<div class="col-md-6 text-center">
              <strong>{{ lt.speaker }}</strong><br />
              <img src="{{ lt.image }}" width="150" height="150" />
			</div>

			<div class="col-md-6">
              {% if lt.github %}<a href="https://github.com/{{ lt.github }}"><img src="../icon/github-icon.png" width="32" height="32" alt="Link to GitHub account"/></a>{% endif %}
              {% if lt.twitter %}<a href="https://twitter.com/{{ lt.twitter }}"><img src="../icon/twitter-icon.png" width="32" height="32" alt="Link to Twitter account" /></a>{% endif %}
              <br />
              {{ lt.bio | markdownify }}
			</div>
          </div>
        </div>
		<br />
        {% endfor %}
      </section>

      <hr class="my-4" />

      <section class="details text-center">
        <div class="contact">
          <ul>
            <li>
              <i class="fas fa-envelope"></i>
              <a href="mailto:vimconf@gmail.com?subject=feedback">vimconf@gmail.com</a>
            </li>
            <li>
              <i class="fab fa-twitter"></i>
              <a href="https://twitter.com/vim_jp" target="_blank">https://twitter.com/vim_jp</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
