---
layout: 2017/default
---
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary" id="header">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      <h3>VimConf 2017 - An international Vim Conference</h3>
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
      <a href="#summary" class="mdl-layout__tab is-active">VimConf 2017</a>
      <a href=".." class="mdl-layout__tab">../UP</a>
    </div>
  </header>
  <main class="mdl-layout__content">
    {{content}}
  </main>
</div>
