<!DOCTYPE html>
<html{%if page.lang %} lang="{{page.lang}}"{%endif%}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title|liquify}}">
    <meta property="og:url" content="{{site.base-url}}{{page.url}}">{%if page.summary%}
    <meta property="og:description" content="{{page.summary|liquify|markdownify|strip_html}}">{%endif%}
    <meta property="og:site_name" content="VimConf 2015 - Vim Conference">
    <title>{{page.title | liquify}}</title>
    <base href="{{site.github.url}}/2015/" target="_self">
    <link rel="stylesheet" href="default.css">{%for css in page.stylesheets%}
    <link rel="stylesheet" href="{{css}}">{%endfor%}
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu:300,400'>
    <script>
      var isPC = navigator.userAgent.indexOf('iPhone')  < 0
              && navigator.userAgent.indexOf('iPod')    < 0
              && navigator.userAgent.indexOf('Android') < 0;
    </script>
  </head>
  <body{%if page.class.body%} class="{{page.class.body}}"{%endif%}>
    <header class="header" id="header">
      <nav class="global-nav">
        <div class="nav-logo">
          <a href="#header">
            <img src="img/vim.png" alt="Vim">
            <span>VimConf 2015</span>
          </a>
        </div>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#detail">Detail</a></li>
          <li><a href="#agenda">Agenda</a></li>
          {% if site.data.2015.speakers %}
            <li><a href="#talks">Talks</a></li>
          {% endif %}
          {% if site.data.2015.reports %}
            <li><a href="#reports">Reports</a></li>
          {% endif %}
          <li><a href="#tweets">Tweets</a></li>
        </ul>
        <div class="lang">
          {% if page.lang == 'ja' %}
            <span class="current">ja</span> / <a href="./en/">en</a>
          {% else if page.lang == 'en' %}
            <a href="./">ja</a> / <span class="current">en</span>
          {% endif %}
        </div>
      </nav>
      <div class="title">
        <img src="img/vim.png" alt="Vim" class="logo-img">
        <h1 class="logo-text">VimConf 2015</h1>
        <p>{{page.date}}</p>
      </div>
      <a href="{{site.data.2015.info.registration_url.connpass}}" target="_blank" class="button-ghost">Register on Connpass</a>
    </header>
    <section class="section about" id="about">
      <h2 class="heading">What's VimConf?</h2>
      <p>{{page.about.catch1}}</p>
      <p>{{page.about.catch2}}</p>
      <p>
        {{page.about.sponsor}}: 
        <a href="http://vim-jp.org" target="_blank">vim-jp.org</a>
      </p>
    </section>
    <section class="section detail" id="detail">
      <h2 class="heading">Detail</h2>
      <p>
        {% if page.lang == 'ja' %}
          {{site.data.2015.info.place.name-i18n}}<br>
          {{site.data.2015.info.place.address-i18n}}<br>
          {{site.data.2015.info.place.access-i18n}}
        {% else if page.lang == 'en' %}
          {{site.data.2015.info.place.name}}<br>
          {{site.data.2015.info.place.address}}
        {% endif %}
      </p>
      <p><a href="https://www.google.com/maps/place/%E6%97%A5%E6%9C%AC,+%E3%80%92150-0011+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E6%9D%B1%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%92%E2%88%92%EF%BC%92%EF%BC%90+%E4%BD%8F%E5%8F%8B%E4%B8%8D%E5%8B%95%E7%94%A3%E6%B8%8B%E8%B0%B7%E3%83%95%E3%82%A1%E3%83%BC%E3%82%B9%E3%83%88%E3%82%BF%E3%83%AF%E3%83%BC/@35.657957,139.708923,15z/data=!4m2!3m1!1s0x60188b5c2d6aca41:0xd8b731cb3f7bc690?hl=ja" target="_blank">Google Map</a></p>
      <div class="detail-info">
        <dl>
          <dt>type</dt>
          <dd>{{page.detail.general.title}}</dd>
          <dt>{{page.detail.capacity}}</dt>
          <dd>{{page.detail.general.capacity}}</dd>
          <dt>{{page.detail.fee}}</dt>
          <dd>{{page.detail.general.fee}}</dd>
          <dt>{{page.detail.registration}}</dt>
          <dd>
            <a href="{{site.data.2015.info.registration_url.connpass}}" target="_blank" class="button">Register on Connpass</a><br>
            <small class="danger">{{page.detail.general.registration}}</small>
          </dd>
        </dl>
        <dl>
          <dt>type</dt>
          <dd>{{page.detail.speaker.title}}</dd>
          <dt>{{page.detail.capacity}}</dt>
          <dd>{{page.detail.speaker.capacity}}</dd>
          <dt>{{page.detail.fee}}</dt>
          <dd>{{page.detail.speaker.fee}}</dd>
          <dt>{{page.detail.registration}}</dt>
          <dd>
            <a href="{{site.data.2015.info.registration_url.github}}" target="_blank" class="button">Register on GitHub</a><br>
            <small class="notice">{{page.detail.speaker.registration}}</small>
          </dd>
        </dl>
      </div>
      <ul class="notes">
        {% for note in page.detail.notes %}
          <li>{{note}}</li>
        {% endfor %}
      </ul>
    </section>
    <section class="section agenda" id="agenda">
      <h2 class="heading">Agenda</h2>
      <ol class="time-table">
        {% for d in site.data.2015.timetable %}
          <li>
            <div class="time">
              <span data-min="{{d.time}}"></span>
              <small>({{d.time}}min)</small>
            </div>
            <div class="avatar">
              {% if d.speaker.avatar %}
                <img src="{{d.speaker.avatar | escape}}" alt="{{d.speaker.name | escape}}">
              {% else %}
                <img src="img/vim.png" alt="Vim">
              {% endif %}
            </div>
            <div class="content">
              {% if page.lang == 'ja' and d.title-i18n %}
                <h3 class="title">{{d.title-i18n}}</h3>
              {% else %}
                <h3 class="title">{{d.title}}</h3>
              {% endif %}
              {% if d.speaker %}
                <div class="speaker">
                  <a href="https://twitter.com/{{d.speaker.twitter | escape}}" target="_blank">{{ d.speaker.name }} (@{{d.speaker.twitter}})</a>
                </div>
              {% endif %}
              {% if page.lang == 'ja' and d.details-i18n %}
                <p>{{d.details-i18n}}</p>
              {% else %}
                <p>{{d.details}}</p>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ol>
    </section>
    {% if site.data.2015.speakers %}
      <section class="section talks" id="talks">
        <h2 class="heading">Talks</h2>
        <ul class="report-list">
          {% for d in site.data.2015.speakers %}
            <li>
              <a href="{{d.slide_url | escape}}">{{d.title}}</a>
              {% if d.slide_backup_path %}
                [<a href="{{d.slide_backup_path | escape}}" download>DL</a>]
              {% endif %}
              [<a href="{{d.video_url | escape}}">Video</a>]
              by
              {% if d.site_url %}
                <a href="{{d.site_url | escape}}">{{d.name}}</a>
              {% else %}
                {{d.name}}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    {% if site.data.2015.reports %}
      <section class="section reports" id="reports">
        <h2 class="heading">Reports</h2>
        <ul class="report-list">
          {% for d in site.data.2015.reports %}
            <li>
              <a href="{{d.url | escape}}" target="_blank">{{d.title}}</a>
              by {{d.author}}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    <section class="section tweets" id="tweets">
      <h2 class="heading">Tweets</h2>
      <p>Hash tag: <a href="https://twitter.com/hashtag/vimconf2015?src=hash" target="_blank">#vimconf</a></p>
      <a class="twitter-timeline" href="https://twitter.com/search?q=vimconf2015" data-widget-id="650624207659728896">vimconf2015に関するツイート</a>
      <script>
        if (isPC) {
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        }
      </script>
    </section>
    <footer class="footer">
      2015 &copy;
      <a href="http://vim-jp.org" target="_blank">vim-jp.org</a>
      |
      <a href="../2014/">2014</a>
      |
      <a href="../2013/">2013</a>
      |
      <a href="../">VimConf</a>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {%for js in page.javascripts%}
    <script src="{{js}}"></script>
    {%endfor%}
    <script>
    $(function() {
      // タイムテーブルの時刻
      var offset = (new Date().getTimezoneOffset() + 540) * 60000;
      var currentTime = new Date({{site.data.2015.info.scheduled_at}} * 1000 + offset);
      $('.time > span').each(function() {
        var hour = currentTime.getHours();
        var min  = ('0' + currentTime.getMinutes()).slice(-2);
        $(this).text(hour + ':' + min);
        var msec = $(this).attr('data-min') * 60 * 1000;
        currentTime = new Date(currentTime.getTime() + msec);
      });
      // 固定ヘッダ
      if (isPC) {
        var $nav = $('.global-nav');
        var navHeight = $nav.height() * 2;
        var headerHeight = $('.header').innerHeight();
        $(window).on('scroll', function() {
          if ($(this).scrollTop() > navHeight) {
            $nav.addClass('fixed');
          } else {
            $nav.removeClass('fixed');
          }
          if ($(this).scrollTop() >= headerHeight) {
            $nav.addClass('show');
          } else {
            $nav.removeClass('show');
          }
        });
        $('a[href^=#]').click(function(){
          var target = $($(this).attr("href"));
          var position = target.offset().top;
          $("html, body").animate({scrollTop: position}, 500, "swing");
          return false;
        });
      }
    });
    </script>
  </body>
</html>
