---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="twitter:card" content="summary" />

    <meta property="og:url" content="https://vimconf.org/2023/" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.summary }}" />
    <meta property="og:image" content="https://vimconf.org/{{ page.ogp-image }}" />

    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/2023/paper.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    <section>
      {{ content }}
    </section>
    <footer>
    </footer>
    {% include google-analytics.html %}
  </body>
</html>
