---
import AnnouncementSlides from '@/components/AnnouncementSlides.astro';
import VenueMap from '@/components/VenueMap.astro';
import { MAIN_BACKGROUND_COLOR } from '@/consts';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <section>
    <div class="container">
      <h2 id="what-is-vimconf-2025" class="section-title"><a href="#what-is-vimconf-2025">VimConf 2025 とは？</a></h2>
      <p>VimConf は、世界初かつ世界で唯一のコミュニティによって定期運営されているVimの国際カンファレンスです。</p>
      <h3>概要</h3>
      <table>
        <tr>
          <th style="word-break:keep-all;">開催日<wbr />(予定)</th>
          <td>2025-11-02（日）</td>
        </tr>
        <tr>
          <th>時間</th>
          <td>9:30 - 17:30 (懇親会: 17:30 - 19:30)</td>
        </tr>
        <tr>
          <th>会場</th>
          <td><a href="https://www.fsi.co.jp/akibaplaza/hall.html">アキバプラザ・アキバホール</a></td>
        </tr>
      </table>
      <VenueMap />
      <h3>その他</h3>
      <p>発表スライドはすべて英語です。発表は英語または日本語のいずれかの言語で行われます。</p>
      <p>登壇の様子を撮影し、後日 YouTube にアップロードします。</p>
      <p>会場内ではカメラマンによる写真撮影が行われますのでご了承ください。</p>
      <p>写真もまとめてWeb上に掲載されます。</p>
      <p></p>
      <p></p>
    </div>
  </section>


  <section>
    <div class="container">
      <h2 id="なぜスポンサーが必要なのか？" class="section-title"><a href="#なぜスポンサーが必要なのか？">なぜスポンサーが必要なのか？</a></h2>
      <p>
        VimConf 2025は、普段なかなか顔を合わせられないVimmer同士が情熱を交わし、知見を共有するための貴重な場です。<br />
        今年は、イベント継続の担保と柔軟な運営のため、必要な資金をスポンサー様のご支援で集める仕組みを採用します。
      </p>
    </div>
  </section>
  <section>
    <div class="container sponsor-info">
      <h2 id="スポンサーシップ概要" class="section-title"><a href="#スポンサーシップ概要">スポンサーシップ概要</a></h2>
      <p>
        <h3>募集期間と判断タイミング：</h3>
      スポンサーの募集は既に開始されています。イベントは、必要な支援金が集まった場合にのみ開催します。<br />
        開催の最終判断は<b>2025年5月15日（木）</b>に行います。
      </p>
      <p>
        <h3>ご提供いただく支援：</h3>
      スポンサーシップに応じたメリット（公式サイトでのロゴ掲載、ノベルティの配布、バックパネルへのロゴ掲載など）を用意しています。<br />
      イベント開催のための資金として、ぜひご協力ください。<br />
        <em>※ また、併せて個人スポンサーの募集も行っています。（開催されなかった場合でも返金不可）</em>
      </p>
      <p>
        個人スポンサーとしてご支援いただける方は、以下のリンクからお申し込みください。
      </p>
      <p style="text-align: center;">
        <a class="btn" href="https://vimconf.booth.pm/" target="blank">個人スポンサーになる</a>
      </p>
      <p>
        <b>初の試みですので、</b>ご不明な点やご質問があればご遠慮なくお問い合わせください。
      </p>
    </div>
  </section>


  <section id="contact">
    <div class="container">
      <h2 class="section-title">スポンサーに関するお問い合わせ</h2>
      <p>
        スポンサーシップに関するご質問、ご提案などにつきましては、下記のフォームまたはメールにてお気軽にお問い合わせください。<br />
        <b>※最新情報は随時更新していきます。</b>
      </p>
      <AnnouncementSlides />
      <p style="text-align: center;">
        <a class="btn" href="https://docs.google.com/forms/d/e/1FAIpQLSfPMjGwsmjOhzxXf_e65uyIb0ml35iIdCYq5EEoSI4KompK3w/viewform" target="blank">
          お問い合わせフォームへ
        </a>
      </p>
    </div>
  </section>
</Layout>

<style define:vars={{ mainBackgroundColor: MAIN_BACKGROUND_COLOR }}>
h3 {
  font-size: 1.2rem;
}

/* Container */
.container {
  width: 90%;
  max-width: 960px;
  margin: auto;
  padding: 24px 0;
}

/* Section Title */
.section-title {
  font-size: 2.4rem;
  border-bottom: 2px solid #ccc;

  a {
    text-decoration: none;
    color: inherit;
  }
}

/* Common Section Styles */
section {
  padding: 50px 0;
  background-color: #fff;

  &:nth-of-type(even) {
    background: #f1f9f1;
  }
}

section + section {
  margin-top: 16px;
}

/* Contact Button */
.btn {
  display: inline-block;
  background-color: var(--mainBackgroundColor);
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 12px 0;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .hero h1 {
    font-size: 3rem;
  }

  .section-title {
    font-size: 1.6rem;
  }
}

</style>
