---
import SessionsComponent from "../components/Sessions/index.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <main class="mt-5 min-h-screen">
    <SessionsComponent />
  </main>
</Layout>
