---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Sessions from "../components/Sessions/index.astro";
---

<Layout>
  <main class="mt-5 min-h-screen">
    <Sessions />
  </main>
</Layout>
