<section id="about" class="bg-emerald-50 py-10 md:py-16">
  <div class="container mx-auto px-4">
    <div class="mb-8 text-center">
      <h2 class="mb-3 text-2xl font-bold text-gray-900 md:text-3xl">
        VimConf とは
      </h2>
      <div class="mx-auto h-1 w-16 bg-emerald-500"></div>
    </div>
    <div
      class="mx-auto mb-8 max-w-3xl text-center text-base text-gray-700 md:text-lg"
    >
      <p>
        VimConfは、世界初かつ世界で唯一のコミュニティによって定期運営されているVimのカンファレンスです。
      </p>
    </div>
  </div>
</section>
