---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div
  class:list={[
    className,
    "rounded-lg border text-card-foreground",
    [(className ?? '').search('border-') === -1 && 'border-emerald-100'],
    [(className ?? '').search('bg-') === -1 && 'bg-card'],
  ]}
>
  <slot />
</div>
