---
type Props = {
  class?: string;
  level?: 1 | 2 | 3 | 4 | 5 | 6;
};

const { class: className, level = 2 }: Props = Astro.props;
---

{
  level === 2 && (
    <div class="mb-8 text-center">
      <h2
        class:list={[
          className,
          "mb-3 text-2xl font-bold text-gray-900 md:text-3xl",
        ]}
      >
        <slot />
      </h2>
      <div class="mx-auto h-1 w-16 bg-emerald-500" />
    </div>
  )
}
