---
// @ts-expect-error not found
import { base } from 'astro:config/client';

const languages
  = Object.keys(import.meta.glob('../pages/*.astro'))
      .map(p => p.split('/')
      .at(-1)!
      .replace('.astro', ''))
      .filter(lang => lang !== 'index')
      .sort();
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const currentLang = pathname.split('/')[1];
---
<div class="language-switcher">
  {languages.map((lang, i) => (
  <>
  <a href={`${base as string}/${lang}/`} class:list={{ active: lang === currentLang }}>
    {lang.toUpperCase()}
  </a>
  {i < languages.length - 1 && <span class="separator">/</span>}
</>
  ))}
</div>

<style>
.language-switcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.language-switcher a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: color 0.2s ease;
}

.language-switcher a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.language-switcher .separator {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0.3rem;
}

/* Active language style */
.language-switcher a.active {
  color: #ffffff;
  font-weight: 600;
}
</style>
