<section id="schedule" class="bg-emerald-50 py-10 md:py-16">
  <div class="container mx-auto px-4">
    <div class="mb-8 text-center">
      <h2 class="mb-3 text-2xl font-bold text-gray-900 md:text-3xl">
        スケジュール
      </h2>
      <div class="mx-auto h-1 w-16 bg-emerald-500"></div>
    </div>
    <div class="grid gap-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-calendar-clock mx-auto mb-4 h-12 w-12 text-emerald-600 md:h-16 md:w-16"
        ><path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"
        ></path><path d="M16 2v4"></path><path d="M8 2v4"></path><path
          d="M3 10h5"></path><path d="M17.5 17.5 16 16.3V14"></path><circle
          cx="16"
          cy="16"
          r="6"></circle></svg
      >
      <h3 class="mx-auto text-center text-lg font-semibold md:text-xl">
        タイムテーブルは近日公開
      </h3>
      <p
        class="mx-auto mt-4 max-w-3xl text-center text-base text-gray-700 md:text-lg"
      >
        カンファレンスの詳細なスケジュールは近日公開されます
      </p>
    </div>
  </div>
</section>
