---
import VimLogo from "./VimLogo.astro";
import { ExternalLink } from "@lucide/astro";
---

<section
  class="relative flex min-h-[85vh] items-center justify-center bg-gradient-to-b from-emerald-50 to-white pt-16 md:min-h-screen"
>
  <div class="absolute inset-0 overflow-hidden">
    <div class="bg-grid-pattern absolute inset-0 opacity-5"></div>
  </div>
  <div class="z-10 container mx-auto px-4 py-8 text-center md:py-16">
    <div class="mb-6">
      <VimLogo class="mx-auto h-28 w-28" />
    </div>
    <h1 class="mb-3 text-3xl font-bold text-emerald-800 md:mb-4 md:text-6xl">
      VimConf 2025 Small
    </h1>
    <div
      class="mb-8 flex flex-col items-center justify-center gap-3 md:mb-12 md:flex-row"
    >
      <div class="rounded-lg bg-white/80 px-4 py-2 shadow-sm backdrop-blur-sm">
        <p class="text-base font-medium text-gray-800 md:text-lg">
          2025年11月2日（日）
        </p>
      </div>
      <div class="rounded-lg bg-white/80 px-4 py-2 shadow-sm backdrop-blur-sm">
        <p class="text-base font-medium text-gray-800 md:text-lg">
          9:15 - 17:30 (After party 17:30 ~ 19:30)
        </p>
      </div>
      <div class="rounded-lg bg-white/80 px-4 py-2 shadow-sm backdrop-blur-sm">
        <p class="text-base font-medium text-gray-800 md:text-lg">
          アキバプラザ・アキバホール
        </p>
      </div>
    </div>
    <p
      class="my-8 py-10 text-center text-xl leading-15 font-bold text-emerald-950 md:mb-16 md:text-4xl"
    >
      VimConf 2025 Small は終了しました。<br
      />ご参加いただいた皆様、ありがとうございました！
    </p>
    <div
      class="mb-8 flex flex-col items-center justify-center gap-3 sm:flex-row"
    >
      <button
        class="inline-flex h-10 items-center justify-center gap-2 rounded-md bg-red-500 px-4 py-2 text-sm font-medium whitespace-nowrap text-primary-foreground ring-offset-background transition-colors hover:bg-red-700 focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0"
        ><a
          class="flex"
          href="https://youtube.com/live/9MQpu0nxl5E"
          target="_blank"
          rel="noopener"
          >YouTube 配信のアーカイブはこちら
          <ExternalLink class="ml-2 h-4 w-4" />
        </a></button
      ><button
        class="inline-flex h-10 w-auto items-center justify-center gap-2 rounded-md border border-emerald-600 bg-background px-4 py-2 text-sm font-medium whitespace-nowrap text-emerald-700 ring-offset-background transition-colors hover:bg-emerald-50 hover:text-accent-foreground focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0"
        ><a href="#schedule">スケジュールを見る</a></button
      >
    </div>
  </div>
</section>
