---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta property="og:url" content="https://vimconf.org/2020/" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.summary }}" />
    <meta property="og:image" content="{{ page.ogp-image }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@vim_jp" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.summary }}" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/2020/paper.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    <section>
      {{ content }}
    </section>
    <footer>
    </footer>
    {% include google-analytics.html %}
  </body>
</html>
