// vim:set sts=2 sw=2 tw=0 et:

$NORMAL_FORECOLOR: #000;
$NORMAL_BACKCOLOR: #fff;
$LINK_FORECOLOR: #c03;
$LINK_BACKCOLOR: inherit;
$HOVER_FORECOLOR: #0c3;
$HOVER_BACKCOLOR: inherit;

$NAV_FIXEDTOP_COLOR_FORE: #dff;
$NAV_FIXEDTOP_COLOR_BACK: #390;
$NAV_FIXEDTOP_COLOR_HOVER: #fb6;

$PANEL_COLOR_FORE: #000;
$PANEL_COLOR_BACK1: #efe;
$PANEL_COLOR_BACK2: #fcffff;

$MAP_BORDER_COLOR: #ccc;

$DEFAULT_FONTSIZE: 16px;
$NAV_FIXEDTOP_HEIGHT: 50px;
$SUB_CONTENT_WIDTH: 250px;
$TWITTER_WIDGET_HEIGHT: 600px;

@import url(http://fonts.googleapis.com/css?family=Audiowide);
@mixin font-audiowide {
  font-family: 'Audiowide', ;
  font-weight: normal;
}

@import url(http://fonts.googleapis.com/css?family=Play:400,700);
@mixin font-play {
  font-family: 'Play', sans-serif;
}

//@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
