---
---
<!DOCTYPE html>
<html{%if page.lang %} lang="{{page.lang}}"{%endif%}>
<head>
<meta charset="utf-8" />
<meta property="og:type" content="article">
<meta property="og:title" content="{{page.title|liquify}}">
<meta property="og:url" content="{{site.base-url}}{{page.url}}">{%if page.summary%}
<meta property="og:description" content="{{page.summary|liquify|markdownify|strip_html}}">{%endif%}
<meta property="og:site_name" content="VimConf - Vim Conference">
<title>{{ page.title | liquify }}</title>
<link rel="stylesheet" href="{{site.data.root-2014}}/default.css" type="text/css" />{%for css in page.stylesheets%}
<link rel="stylesheet" href="{{site.data.root-2014}}/{{css}}" type="text/css" />{%endfor%}
</head>
<body{%if page.class.body%} class="{{page.class.body}}"{%endif%}>
{{content}}</body>{%for js in page.javascripts%}
<script type="text/javascript" src="{{js}}"></script>{%endfor%}
</html>
