---
---
<!DOCTYPE html>
<html{%if page.lang %} lang="{{page.lang}}"{%endif%}>
<head>
<meta charset="utf-8" />
<meta property="og:type" content="article">
<meta property="og:title" content="{{page.title|liquify}}">
<meta property="og:url" content="{{site.base-url}}{{page.url}}">{%if page.summary%}
<meta property="og:description" content="{{page.summary|liquify|markdownify|strip_html}}">{%endif%}
<meta property="og:site_name" content="VimConf - Vim Conference">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title | liquify}} - VimConf 2014</title>
<base href="{{site.github.url}}{{site.data.2014.root}}/" target="_self">
<link rel="stylesheet" href="default.css">{%for css in page.stylesheets%}
<link rel="stylesheet" href="{{css}}">{%endfor%}
</head>
<body{%if page.class.body%} class="{{page.class.body}}"{%endif%}>
{{content}}</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>{%for js in page.javascripts%}
<script src="{{js}}"></script>{%endfor%}
</html>
