---
layout: 2014/default
class:
  body: pages
---
<nav class="fixed-top">{%include 2014/pages.html%}</nav>

<div class="content-area">
  <div class="content-main">
    <div class="content">
      <h1>{{page.title}}</h1>
      {{content}}
    </div>
  </div>
  <div class="content-sub">
    <div class="twitter-widget">
      <a class="twitter-timeline"
         href="https://twitter.com/hashtag/vimconf2014"
         data-widget-id="515776264624291840">#vimconf2014 のツイート</a>
    </div>
  </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
