---
import Heading from "../Heading.astro";
import TimeCard from "../Schedule/TimeCard.astro";
---

<section id="schedule" class="bg-white py-10 md:py-16">
  <div class="container mx-auto px-4">
    <Heading> スケジュール </Heading>
    <TimeCard />
  </div>
</section>

