---
import AboutVimConf from "../../components/AboutVimConf.astro";
import KeynoteSpeakers from "../../components/KeynoteSpeakers/index.astro";
import Schedule from "../../components/Schedule/index.astro";
import Sponsors from "../../components/Sponsors/index.astro";
import Staff from "../../components/Staff/index.astro";
import Top from "../../components/Top.astro";
import Venue from "../../components/Venue.astro";
import OfficialBlog from "../../components/OfficialBlog.astro";
import "../../styles/global.css";
import { LANGUAGES } from "@/i18n";

import Layout from "@/layouts/Layout.astro";

export function getStaticPaths() {
  return LANGUAGES.map((lang) => ({ params: { lang } }));
}
---

<Layout>
  <main class="min-h-screen">
    <Top />
    <KeynoteSpeakers />
    <Venue />
    <AboutVimConf />
    <Schedule />
    <Sponsors />
    <Staff />
    <OfficialBlog />
  </main>
</Layout>
