---
import Heading from "../Heading.astro";
import KeynoteSpeaker from "./KeynoteSpeaker.astro";
import hrsh7th from "../../assets/speaker-icon/hrsh7th.png?url";
import rbtnn from "../../assets/speaker-icon/rbtnn.png?url";
---

<section
  id="keynote"
  class="bg-gradient-to-b from-white to-emerald-50 py-10 md:py-16"
>
  <div class="container mx-auto px-4">
    <Heading> 基調講演 </Heading>
  </div>
  <div
    class="grid grid-cols-1 gap-4 px-4 md:gap-12 lg:grid-cols-2 lg:grid-rows-subgrid"
  >
    <KeynoteSpeaker
      keynoteSpeaker="hrsh7th"
      imageUrl={hrsh7th}
      title="comming soon"
      profile=`hrsh7th is a Web frontend engineer based in Japan.
With around 15 years of experience using (n)vim, he's the author of popular plugins like vim-vsnip and nvim-cmp.
As a Web frontend engineer, he has a strong interest in enhancing editor-based workflows and user experience for daily development.`
    />
    <KeynoteSpeaker
      keynoteSpeaker="rbtnn"
      imageUrl={rbtnn}
      title="comming soon"
      profile=`rbtnn is what you might call an SIer in Japan.
These days, his main role is team management, so he doesn't get to write code as often.
That said, he worked across the stack throughout his career—from server-side and client-side development to embedded systems—making him a so-called full-stack engineer.
Vim has been his primary text editor for nearly 15 years, and he uses it to write code in almost any programming language.
He's contributed to Vim itself several times in the past, and this time, He'd like to introduce a feature he implemented called TabPanel, and share the background and motivation behind adding it.`
    />
  </div>
</section>
