---
import Heading from "../Heading.astro";
import KeynoteSpeaker from "./KeynoteSpeaker.astro";
---

<section
  id="keynote"
  class="bg-gradient-to-b from-white to-emerald-50 py-10 md:py-16"
>
  <div class="container mx-auto px-4">
    <Heading> 基調講演 </Heading>
  </div>
  <div
    class="grid grid-cols-1 gap-4 px-4 md:gap-12 lg:grid-cols-2 lg:grid-rows-subgrid"
  >
    <KeynoteSpeaker
      keynoteSpeaker="だれだろう"
      imageUrl="https://avatars.githubusercontent.com/u/11504?v=4"
      title="基調講演のタイトル"
      profile="山路を登りながら、こう考えた。智に働けば角が立つ。情に棹させば流される。意地を通せば窮屈だ。とかくに人の世は住みにくい。住みにくさが高じると、安い所へ引き越したくなる。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。"
    />
    <KeynoteSpeaker
      keynoteSpeaker="だれだろう"
      imageUrl="https://avatars.githubusercontent.com/u/11504?v=4"
      title="基調講演のタイトル"
      profile="山路を登りながら、こう考えた。智に働けば角が立つ。情に棹させば流される。意地を通せば窮屈だ。とかくに人の世は住みにくい。住みにくさが高じると、安い所へ引き越したくなる。どこへ越しても住みにくいと悟った時、詩が生れて、画が出来る。"
    />
  </div>
</section>
