name: lint

on:
  push:
  pull_request:

jobs:
  lint-2025:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./2025
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          package_json_file: ./2025/package.json
          run_install: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm check
      - run: pnpm lint
      - run: pnpm prettier:check
